					<div class="ct-ads">						
						<div class="social-shared">
							<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
						</div>
						<div class="social-shared">
							<div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
						</div>
						<div class="clr"></div>
					</div>
					
					<div class="ct-ads">
						<div class="ct-ads-info">
							<h4>Advertencia</h4>
							<a href="/" class="ct-advertise-here">
								<i class="ct-icon-info"></i>
								<span>Advertencia</span>
							</a>
						</div>
						
						<!-- New Zone -->							
						<div id="bsap_1275127" class="bsap bsap_1275127" data-serve="CKYDK2Y">									
							<a href="https://www.teamequipalia.es/auriculares-bluetooth" class="ad0 odd" title="Auriculares Bluetooth - Team Equipalia" target="_blank">
								<img src="https://www.teamequipalia.es/3123-thickbox_default/auricular-in-ear-bluetooth-plantronics-voyager-6200-uc.jpg" width="300" height="250" alt="Auricular Inalambrico Bluetooth">
							</a>
							<div class="bsap_adhere">
								<a href="https://www.teamequipalia.es/auriculares-bluetooth" class="">Auriculares Bluetooth</a>
							</div>
							<script type="text/javascript" id="auto_2" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(); </script>
						</div>
							
						<div class="clr"></div>
					</div>
				
				<!-- 
					<div class="ct-widget-wrapper"> 
						
						<div class="ct-widget ct-widget-deals">
							<h5>Check out our deals &amp; offers!</h5>
							<article>
								<div class="ct-latest-thumb">
									<a href="/">
										<img src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/images/gifticon.png" alt="Deals Thumbnail">
									</a>
								</div>
								<p><strong>Find great discounts for many useful services and resources on our <a href="/">Deals &amp; Offers</a> page!</strong></p>
								<div class="clr"></div>
							</article>
						</div>

						<div class="ct-widget ct-widget-coll">
							<h5>Últimas Noticias:</h5>
							<article id="post-34036" class="post-34036 collective type-collective status-publish has-post-thumbnail hentry">
								<h3><a href="http://www.ayudaparamiweb.com" class="">Collective #390</a></h3>
								<p class="ct-subline">
									<time pubdate="pubdate">February 12, 2018</time>
								</p>
								<div class="ct-latest-thumb">
									<a href="http://www.ayudaparamiweb.com" class="ct-trans">
										<img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/Collective390.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="Collective390">						</a>
								</div>
								
								<p class="ct-feat-excerpt">
								   Cheapass Parallax * Paddy * DIY RSS Feed Reader * Fonts.lol * Space Icons * Just-dashboard * Rekit * CSS Space...
								</p>
								<div class="clr"></div>
							</article>
							<article id="post-33957" class="post-33957 collective type-collective status-publish has-post-thumbnail hentry">
								<h3><a href="http://www.ayudaparamiweb.com/" class="">Collective #389</a></h3>
								<p class="ct-subline">
									<time pubdate="pubdate">February 8, 2018</time>
								</p>
								<div class="ct-latest-thumb">
									<a href="http://www.ayudaparamiweb.com/" class="ct-trans">
										<img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/Collective389.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="Collective389">						</a>
								</div>
								
								<p class="ct-feat-excerpt">
								   .colors() * How I design with CSS grid * Href Tools * OpenSC2K * The Zen Zone * Memex * ask-a-dev * Phase...
								</p>
								<div class="clr"></div>
							</article>
						</div>
						
						<div class="clr"></div>
					
				
						<div class="ct-widget ct-widget-default">
							<h5>Lo más leído en Ayuda para mi Web:</h5>
							<article id="post-33037" class="post-33037 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-frame tag-morphing tag-slideshow">
								
								<div class="ct-latest-thumb">
									<a href="http://www.ayudaparamiweb.com/" class="ct-trans">
										<img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2017/11/AnimatedFrameSlideshow_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="AnimatedFrameSlideshow_Featured">						</a>
								</div>
								<h3><a href="http://www.ayudaparamiweb.com" class="">Sencillo código para añadir el traductor google a nuestro blog</a></h3>
								<div class="clr"></div>
								
							</article>
							<article id="post-32944" class="post-32944 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-grid tag-layout tag-thumbnail">
								
								<div class="ct-latest-thumb">
									<a href="http://www.ayudaparamiweb.com" class="ct-trans">
										<img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2017/11/expandinggrid_featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="expandinggrid_featured">						</a>
								</div>
								<h3><a href="http://www.ayudaparamiweb.com" class="">¿Qué es el posicionamiento SEO?</a></h3>
								<div class="clr"></div>
								
							</article>
						</div>
							
					</div>
				-->	

					<div class="clr"></div>
					
					<div class="ct-ads">
						<div class="ct-ads-info">
							<h4>Advertencia</h4>
							<a href="/" class="ct-advertise-here">
								<i class="ct-icon-info"></i>
								<span>Advertencia</span>
							</a>
						</div>
						<div id="bsap_1275127" class="bsap bsap_1275127" data-serve="CKYDK2Y">										
							<a href="https://www.todoauriculares.com/" class="ad0 odd" title="Todo Auriculares" target="_blank">
								<img src="https://www.todoauriculares.com/modules/ps_imageslider/images/7592920d23da6039ebaf16082e8721f355afd93b_BANNER%20TODOAURICULARES.png" width="300" height="250" alt="">
							</a>
							<div class="bsap_adhere">
								<a href="https://www.todoauriculares.com/modules/ps_imageslider/images/7592920d23da6039ebaf16082e8721f355afd93b_BANNER%20TODOAURICULARES.png" class="">todoauriculares.com</a>
							</div>
							<script type="text/javascript" id="auto_3" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(); </script>
						</div>
					</div>

					<div class="clr"></div>
					
					<div class="ct-ads">
						<div class="ct-ads-info">
							<h4>Advertencia</h4>
							<a href="/" class="ct-advertise-here">
								<i class="ct-icon-info"></i>
								<span>Advertencia</span>
							</a>
						</div>
						<div id="bsap_1275127" class="bsap bsap_1275127" data-serve="CKYDK2Y">											
							<a href="https://www.teamequipalia.es/auriculares-inalambricos" class="ad0 odd" title="Auriculares inalámbricos" target="_blank">
								<img src="https://www.teamequipalia.es/3516-thickbox_default/plantronics-voyager-4220-uc-auricular-inalambrico.jpg" width="300" height="250" alt="Auriculares inalámbricos">
							</a>
							<div class="bsap_adhere">
								<a href="https://www.teamequipalia.es/3516-thickbox_default/plantronics-voyager-4220-uc-auricular-inalambrico.jpg" class="">Auriculares inalámbricos</a>
							</div>
							<script type="text/javascript" id="auto_4" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(); </script>
						</div>
					</div>

					<div class="clr"></div>
					
					<div class="ct-ads">
						<div class="ct-ads-info">
							<h4>Advertencia</h4>
							<a href="/" class="ct-advertise-here">
								<i class="ct-icon-info"></i>
								<span>Advertencia</span>
							</a>
						</div>
						<div id="bsap_1275127" class="bsap bsap_1275127" data-serve="CKYDK2Y">											
							<a href="http://www.statsbasket.com/" class="ad0 odd" title="Stats Basket" target="_blank">
								<img src="http://www.statsbasket.com/img/preview.png" width="300" height="250" alt="Estadísticas de Baloncesto Amateur">
							</a>
							<div class="bsap_adhere">
								<a href="http://www.statsbasket.com/img/preview.png" class="">Estadísticas de Baloncesto Amateur</a>
							</div>
							<script type="text/javascript" id="auto_4" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(); </script>
						</div>
					</div>

					<div class="clr"></div>
				
				
