			<div class="ct-inner ct-cf">
				<nav class="ct-cf">
					<ul>
						<li><a href="/articulos">Artículos</a></li>
						<li><a href="/herramientas">Herramientas</a></li>
						<li><a href="/experimentos">Experimentos</a></li>
					</ul>
					<ul>
						<li><a href="/">News</a></li>
						<li><a href="/">Code</a></li>
						<li><a href="/">Freebies</a></li>
						<li><a href="/">Collective</a></li>
					</ul>
					<ul>
						<li><a href="/">About</a></li>
						<li><a href="/">Contacto</a></li>
						<li><a href="/">Archives</a></li>
						<li><a href="/">Deals</a></li>
					</ul>
					<ul>
						<li><a href="/">Advertencia</a></li>
						<li><a href="/">Política de Privacidad</a></li>
						<li><a href="/">Licencia</a></li>
						<li><a href="/">Creditos</a></li>
					</ul>
				</nav>
				<div class="ct-items ct-cf">
					<div class="ct-item ct-copyright">
						<span>© 2022 ayudaparamiweb.com</span> 
						<a href="http://www.ayudaparamiweb.com/" title="Ayuda para mi Web">Ayuda para mi Web</a>
					</div>
				</div>
			</div>

	<!-- Social Shared script twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<!-- Social Shared script facebook -->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>
