<div class="ct-inner ct-cf">
  <nav class="ct-cf" aria-label="Navegación de pie">
    <ul>
      <li><a href="/articulos">Artículos</a></li>
      <li><a href="/herramientas">Herramientas</a></li>
      <li><a href="/laboratorio">Laboratorio</a></li>
    </ul>
    <ul>
      <li><a href="/historia">Historia</a></li>
      <li><a href="/buscar">Buscar</a></li>
      <li><button type="button" class="ct-cookie-settings-link" data-cookie-settings>Configurar cookies</button></li>
    </ul>
  </nav>
  <div class="ct-items ct-cf">
    <div class="ct-item ct-copyright">
      <span>© 2026 ayudaparamiweb.com</span>
      <a href="https://www.ayudaparamiweb.com/" title="Ayuda para mi Web">Ayuda para mi Web</a>
    </div>
  </div>
</div>
