<header class="ct-header">
  <div class="ct-inner ct-cf">
    <div class="ct-branding">
      <a class="ct-logo" href="/" rel="home">Ayuda para mi Web</a>
    </div>

    <div class="ct-nav-wrapper">
      <nav class="ct-nav-main" aria-label="Navegación principal">
        <ul>
          <li><a href="/articulos">Artículos</a></li>
          <li><a href="/tutoriales">Tutoriales</a></li>
          <li><a href="/herramientas">Herramientas</a></li>
          <li><a href="/laboratorio">Laboratorio</a></li>
        </ul>
      </nav>
    </div>

    <div class="ct-header-items-right ct-cf">
      <div class="ct-search" id="ct-search">
        <form method="get" id="searchform" action="/buscar">
          <div class="ct-search-input-wrap">
            <input class="ct-search-input" placeholder="Buscar en Ayuda para mi Web..." type="text" value="" name="q" id="s" autocomplete="off" spellcheck="false" dir="auto">
          </div>
          <input class="ct-search-submit" type="submit" id="go" value=""><span class="ct-icon-search"></span>
        </form>
      </div>
    </div>
  </div>
</header>
