			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBP42JBF"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			<header class="ct-header">
				<div class="ct-inner ct-cf">

						<div class="ct-branding">
							<a class="ct-logo" href="/" rel="home">Ayuda para mi Web</a>
						</div>
					
					<div class="ct-nav-wrapper">
						<nav class="ct-nav-main">
						   <ul>
								<li><a href="/articulos">Artículos</a></li>
								<li><a href="/tutoriales">Tutoriales</a></li>
								<li><a href="/herramientas">Herramientas</a></li>
								<li><a href="/laboratorio">Laboratorio</a></li>
							</ul>
						</nav>
					</div>

					<div class="ct-header-items-right ct-cf">
						<div class="ct-search" id="ct-search">
							<form method="get" id="searchform" action="/buscar">
								<div class="ct-search-input-wrap">
									<input class="ct-search-input" placeholder="Buscar en Ayuda para mi Web..." type="text" value="" name="q" id="s" autocomplete="off" spellcheck="false" dir="auto">
								</div>
								<input class="ct-search-submit" type="submit" id="go" value=""><span class="ct-icon-search"></span>
							</form>
						</div>
						<ul class="ct-connect">
							<li><a class="ct-icon-twitter" href="http://www.twitter.com/"><span>Ayuda para mi Web en Twitter</span></a></li>
							<li><a class="ct-icon-facebook" href="http://www.facebook.com/"><span>Ayuda para mi Web en Facebook</span></a></li>
						    	<li><a class="ct-icon-github" href="https://github.com/"><span>Ayuda para mi Web en Github</span></a></li>
						</ul>
					</div><!--/ct-header-items-right-->

				</div><!-- ct-inner -->
			</header>
