			<header class="ct-header">
				<div class="ct-inner ct-cf">

						<div class="ct-branding">
							<a class="ct-logo" href="/" rel="home">Ayuda para mi Web</a>
						</div>
					
					<div class="ct-nav-wrapper">
						<nav class="ct-nav-main">
						   <ul>
								<li><a href="/articulos">Artículos</a></li>
								<li><a href="/herramientas">Herramientas</a></li>
								<li><a href="/experimentos">Experimentos</a></li>
							</ul>
						</nav>
					</div>

					<div class="ct-header-items-right ct-cf">
						<div class="ct-search" id="ct-search">
							<form method="get" id="searchform" action="http://www.ayudaparamiweb.com">
								<div class="ct-search-input-wrap">
									<span class="twitter-typeahead" style="position: relative; display: inline-block;"><input class="tt-hint" type="text" autocomplete="off" spellcheck="off" disabled="" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input class="ct-search-input tt-query" placeholder="Buscar en Ayuda para mi Web..." type="text" value="" name="s" id="s" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><span style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: proxima-nova, &quot;Proxima Nova&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 700; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></span><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"></span></span>
								</div>
								<input type="hidden" name="search-type" value="posts">
								<input class="ct-search-submit" type="submit" id="go" value=""><span class="ct-icon-search"></span>
							</form>
						</div>
						<ul class="ct-connect">
							<li><a class="ct-icon-twitter" href="http://www.twitter.com/"><span>Ayuda para mi Web en Twitter</span></a></li>
							<li><a class="ct-icon-facebook" href="http://www.facebook.com/"><span>Ayuda para mi Web en Facebook</span></a></li>
						    	<li><a class="ct-icon-github" href="https://github.com/"><span>Ayuda para mi Web en Github</span></a></li>
						</ul>
					</div><!--/ct-header-items-right-->

				</div><!-- ct-inner -->
			</header>
