						<div class="ct-postnav">
							<div id="wp_page_numbers">
								<ul>
									<li class="page_info">Page 1 of 11</li>
									<li class="active_page"><a href="http://www.ayudaparamiweb.com">1</a></li>
									<li class="space">...</li>
									<li class="first_last_page"><a href="http://www.ayudaparamiweb.com/">1</a></li>
									<li><a href="http://www.ayudaparamiweb.com/">&gt;</a></li>
								</ul>
								<div style="float: none; clear: both;"></div>
							</div>
						</div><!--//postnav-->
