				<div class="sharrre-container" style="position: fixed; top: 20px; left: 909px;">
					<div class="social-shared"><a href="https://twitter.com/share" class="twitter-share-button" size="large">Tweet</a></div>
					<div class="social-shared"><div class="fb-like" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
				</div>
				
				<!-- Social Shared script twitter -->
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<!-- Social Shared script facebook -->
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.9";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>