<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Contador de Caracteres SEO | Ayuda para mi Web</title>
		<meta name="description" content="Hoy en día, tener un contador de número de caracteres que se introducen en el título y la descripción de una página web es fundamental para el SEO On Page." />
		<meta name="author" content="Sucender" />
		
		<!-- This site is optimized with the Yoast SEO Premium plugin v5.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
		<!--
		<link rel="canonical" href="https://www.ayudaparamiweb.com">
		<link rel="next" href="https://www.ayudaparamiweb.com">
		<link rel="publisher" href="">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="object">
		<meta property="og:title" content="Ayuda para mi Web | Desarrollo web, SEO, Herramientas y Experimentos">
		<meta property="og:description" content="Todo lo necesarío para el desarrollo web">
		<meta property="og:url" content="https://www.ayudaparamiweb.com//">
		<meta property="og:site_name" content="Ayuda para mi Web">
		<meta property="fb:admins" content="">
		<meta property="og:image" content="">
		<meta property="og:image:secure_url" content="">
		<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.ayudaparamiweb.com\/","name":"Ayuda para mi web","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.ayudaparamiweb.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
		 -->
		<!-- / Yoast SEO Premium plugin. -->
		
		<!-- SEO -->
        <meta name="description" content="Todo lo necesarío para el desarrollo web">
	      <meta name="keywords" content="página web, crear web, como hacer una web, desarrollo web" />
	      <meta name="author" content="Sucender" />
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <meta name="robots" content="noodp"/>
        <link rel="canonical" href="https://www.ayudaparamiweb.com/" />
        <link rel="next" href="https://www.ayudaparamiweb.com/" />
        <!-- Facebook and Twitter integration -->
        <meta property="og:locale" content="es" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Ayuda para mi Web | Desarrollo web, SEO, Herramientas y Experimentos" />
        <meta property="og:image" content=""/>
        <meta property="og:description" content="Ayuda para mi Web es una web diseñada y desarrollada como blog para ayudar a todos lo que quieren crear una web" />
        <meta property="og:url" content="https://www.ayudaparamiweb.com/" />
        <meta property="og:site_name" content="Ayuda para mi Web" />
        <meta property="fb:admins" content="" />
        <meta name="twitter:title" content="Ayuda para mi Web | Desarrollo web, SEO, Herramientas y Experimentos" />
    		<meta name="twitter:image" content="" />
    		<meta name="twitter:url" content="https://www.ayudaparamiweb.com/" />
    		<meta name="twitter:card" content="" />
        <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","url":"http:\/\/www.ayudaparamiweb.com\/","name":"Ayuda para mi Web","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.ayudaparamiweb.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    		<!--[if lt IE 9]>
    		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    		<![endif]-->
		<!-- /SEO -->
		
		
		<link rel="stylesheet" type="text/css" href="public/css/main.css">
		<link rel="stylesheet" type="text/css" media="print" href="public/css/main_print.css">
		
		<!-- favicon generated by http://realfavicongenerator.net/ -->
		<link rel="apple-touch-icon" sizes="57x57" href="public/favicon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="public/favicon/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="public/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="public/favicon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="public/favicon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="public/favicon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="public/favicon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="public/favicon/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="public/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="public/favicon/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="public/favicon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="public/favicon/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="public/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="public/favicon/manifest.json">
		<link rel="mask-icon" href="public/favicon/safari-pinned-tab.svg" color="#79589F">
		<link rel="shortcut icon" href="public/favicon/favicon.ico">
		<meta name="msapplication-TileColor" content="#79589F">
		<meta name="msapplication-TileImage" content="public/favicon/mstile-144x144.png">
		<meta name="msapplication-config" content="public/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<!-- end favicon links -->

		<link rel="stylesheet" id="sbc-css" href="public/css/sbc.css" type="text/css" media="all">
		<link rel="stylesheet" id="wp_typeahead_css-css" href="public/css/typeahead.css" type="text/css" media="all">
		<script type="text/javascript" src="public/js/jquery.js"></script>
		<script type="text/javascript" src="public/js/jquery-migrate.min.js"></script>
		<script type="text/javascript" src="public/js/sbc.js"></script>

		<script type="text/javascript">document.documentElement.className += " js";</script>
		<script src="public/js/search.js"></script>
		
		<script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/modernizr.custom.70736.js"></script>
		<!--[if lt IE 9 ]>
			<script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/css3-mediaqueries.js"></script>
			<link rel="stylesheet" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/ie.css"/>
		<![endif]-->
		<!--[if lt IE 8 ]>
			<script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/iconfonts.js"></script>
		<![endif]-->
		<noscript>
			&lt;link rel="stylesheet" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/noscript.css"/&gt;
		</noscript>
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "WebSite",
		  "url": "https://www.ayudaparamiweb.com/",
		  "potentialAction": {
		    "@type": "SearchAction",
		    "target": "https://www.ayudaparamiweb.com/?s={search_term_string}",
		    "query-input": "required name=search_term_string"
		  }
		}
		</script>
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114140363-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-114140363-1');
			</script>
		<!-- /Google Analytics -->

		<link href="public/css/prism.css" rel="stylesheet" />
		<script src="public/js/prism.js"></script>
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-1" itemscope="" itemtype="http://schema.org/Article" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										  <img alt="" src="http://www.ayudaparamiweb.com/public/img/author/sucender.png" srcset="public/img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										  <meta itemprop="url" content="http://www.ayudaparamiweb.com/public/img/author/sucender.png">
										  <meta itemprop="width" content="36">
										  <meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										en 
										<a href="http://www.ayudaparamiweb.com/herramientas">Herramientas</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2018-02-14">14/02/2018</time> 
										<strong>11</strong> votos. Media: <strong>4.5</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4.5">
												<meta itemprop="ratingCount" content="11">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Contador de Caracteres SEO</h1>
							</header>
							<div class="ct-post-content">
							
								<div class="ct-post-excerpt" itemprop="description">Hoy en día, tener un contador de número de caracteres que se introducen en el título y la descripción de una página web es fundamental para el SEO On Page.</div>
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="public/img/articulo/contador-caracteres-seo.png" alt="Imagén sobre el Contador de Caracteres SEO"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/public/img/articulo/contador-caracteres-seo.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="200">
								</div>
								
								<h2>Contador de Caracteres Meta-Title</h2>
								<p>En SEO un buen título de página es fundamental. Es muy importante usar la palabras claves en el título y asegurarse de que sea relevante al tema a tratar en el contenido.</p> 
								<p>Google utiliza un máximo de 70 caracteres para los resulados de búsqueda. Ser claro y conciso en el titulo del tema a tratar es importantisimo. Mi recomendación es utilizar entre 60-67 caracteres para las búsquedas de Google.</p>
								
								<textarea name="message" onkeyup="countCharsTit(this);"></textarea>
								<p id="charNumTit">67 caracteres restantes</p>
								
								<h2>Contador de Caracteres Meta-Description</h2>
								<p>Para la meta-descripción, Google solo muestra 160 caracteres. Mi recomendación es que la meta-descripción sea entre 150-155 caracteres. Incluya también palabras clave en la meta-descripción.</p>
																							
								<textarea name="message" onkeyup="countCharsDesc(this);"></textarea>
								<p id="charNumDesc">155 caracteres restantes</p>
								
								<script>
								function countCharsTit(obj){
									var maxLength = 67;
									var strLength = obj.value.length;
									var charRemain = (maxLength - strLength);
									
									if(charRemain < 0){
										document.getElementById("charNumTit").innerHTML = '<span style="color: red;">Has superado el límite de '+maxLength+' caracteres</span>';
									}else{
										document.getElementById("charNumTit").innerHTML = charRemain+' caracteres restantes';
									}
								}
								function countCharsDesc(obj){
									var maxLength = 155;
									var strLength = obj.value.length;
									var charRemain = (maxLength - strLength);
									
									if(charRemain < 0){
										document.getElementById("charNumDesc").innerHTML = '<span style="color: red;">Has superado el límite de '+maxLength+' caracteres</span>';
									}else{
										document.getElementById("charNumDesc").innerHTML = charRemain+' caracteres restantes';
									}
								}
								</script>
								<style>
									textarea {
										height: 5em;
										width: 100%;
										max-width: 100%;
										margin-bottom: 5px;
										font-size: 1.15em;
										font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
									}
								</style>
																
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">Herramientas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">SEO</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">Contador</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box ct-red">
							<% include authors/sucender-short.ejs %>
						</div>

						<div class="ct-row-wrapper">
							<div class="ct-row">
							
								<div class="ct-sharing ct-box ct-red">
									<h4>Stay connected with us:</h4>
									<div class="ct-link-list">
										<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
										<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
										<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
										<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									</div>
								</div>
							<div class="ct-bottom-ads ct-box ct-red">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
						
						
					</div>
				</div>
		
				<aside class="ct-sidebar">		
					
					<div class="ct-ads">						
						<div class="social-shared">
							<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
						</div>
						<div class="social-shared">
							<div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
						</div>
						<div class="clr"></div>
					</div>
					
					<div class="ct-ads">
						<div class="ct-ads-info">
							<h4>Advertencia</h4>
							<a href="/" class="ct-advertise-here">
								<i class="ct-icon-info"></i>
								<span>Advertencia</span>
							</a>
						</div>
						
						<!-- New Zone -->							
						<div id="bsap_1275127" class="bsap bsap_1275127" data-serve="CKYDK2Y">									
							<a href="https://www.teamequipalia.es/auriculares-bluetooth" class="ad0 odd" title="Auriculares Bluetooth - Team Equipalia" target="_blank">
								<img src="https://www.teamequipalia.es/3123-thickbox_default/auricular-in-ear-bluetooth-plantronics-voyager-6200-uc.jpg" width="300" height="250" alt="Auricular Inalambrico Bluetooth">
							</a>
							<div class="bsap_adhere">
								<a href="https://www.teamequipalia.es/auriculares-bluetooth" class="">Auriculares Bluetooth</a>
							</div>
							<script type="text/javascript" id="auto_2" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(); </script>
						</div>
							
						<div class="clr"></div>
					</div>
				
				<!-- 
					<div class="ct-widget-wrapper"> 
						
						<div class="ct-widget ct-widget-deals">
							<h5>Check out our deals &amp; offers!</h5>
							<article>
								<div class="ct-latest-thumb">
									<a href="/">
										<img src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/images/gifticon.png" alt="Deals Thumbnail">
									</a>
								</div>
								<p><strong>Find great discounts for many useful services and resources on our <a href="/">Deals &amp; Offers</a> page!</strong></p>
								<div class="clr"></div>
							</article>
						</div>

						<div class="ct-widget ct-widget-coll">
							<h5>Últimas Noticias:</h5>
							<article id="post-34036" class="post-34036 collective type-collective status-publish has-post-thumbnail hentry">
								<h3><a href="https://www.ayudaparamiweb.com" class="">Collective #390</a></h3>
								<p class="ct-subline">
									<time pubdate="pubdate">February 12, 2018</time>
								</p>
								<div class="ct-latest-thumb">
									<a href="https://www.ayudaparamiweb.com" class="ct-trans">
										<img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/Collective390.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="Collective390">						</a>
								</div>
								
								<p class="ct-feat-excerpt">
								   Cheapass Parallax * Paddy * DIY RSS Feed Reader * Fonts.lol * Space Icons * Just-dashboard * Rekit * CSS Space...
								</p>
								<div class="clr"></div>
							</article>
							<article id="post-33957" class="post-33957 collective type-collective status-publish has-post-thumbnail hentry">
								<h3><a href="https://www.ayudaparamiweb.com/" class="">Collective #389</a></h3>
								<p class="ct-subline">
									<time pubdate="pubdate">February 8, 2018</time>
								</p>
								<div class="ct-latest-thumb">
									<a href="https://www.ayudaparamiweb.com/" class="ct-trans">
										<img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/Collective389.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="Collective389">						</a>
								</div>
								
								<p class="ct-feat-excerpt">
								   .colors() * How I design with CSS grid * Href Tools * OpenSC2K * The Zen Zone * Memex * ask-a-dev * Phase...
								</p>
								<div class="clr"></div>
							</article>
						</div>
						
						<div class="clr"></div>
					
				
						<div class="ct-widget ct-widget-default">
							<h5>Lo más leído en Ayuda para mi Web:</h5>
							<article id="post-33037" class="post-33037 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-frame tag-morphing tag-slideshow">
								
								<div class="ct-latest-thumb">
									<a href="https://www.ayudaparamiweb.com/" class="ct-trans">
										<img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2017/11/AnimatedFrameSlideshow_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="AnimatedFrameSlideshow_Featured">						</a>
								</div>
								<h3><a href="https://www.ayudaparamiweb.com" class="">Sencillo código para añadir el traductor google a nuestro blog</a></h3>
								<div class="clr"></div>
								
							</article>
							<article id="post-32944" class="post-32944 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-grid tag-layout tag-thumbnail">
								
								<div class="ct-latest-thumb">
									<a href="https://www.ayudaparamiweb.com" class="ct-trans">
										<img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2017/11/expandinggrid_featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="expandinggrid_featured">						</a>
								</div>
								<h3><a href="https://www.ayudaparamiweb.com" class="">¿Qué es el posicionamiento SEO?</a></h3>
								<div class="clr"></div>
								
							</article>
						</div>
							
					</div>
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<div class="ct-inner ct-cf">
				<nav class="ct-cf">
					<ul>
					<!--	<li><a href="/articulos">Artículos</a></li>-->
					<!--	<li><a href="/herramientas">Herramientas</a></li>-->
					<!--	<li><a href="/experimentos">Experimentos</a></li>-->
					</ul>
					<ul>
						<li><a href="/">News</a></li>
						<li><a href="/">Code</a></li>
						<li><a href="/">Freebies</a></li>
						<li><a href="/">Collective</a></li>
					</ul>
					<ul>
						<li><a href="/">About</a></li>
						<li><a href="/">Contacto</a></li>
						<li><a href="/">Archives</a></li>
						<li><a href="/">Deals</a></li>
					</ul>
					<ul>
						<li><a href="/">Advertencia</a></li>
						<li><a href="/">Política de Privacidad</a></li>
						<li><a href="/">Licencia</a></li>
						<li><a href="/">Creditos</a></li>
					</ul>
				</nav>
				<div class="ct-items ct-cf">
					<div class="ct-item ct-copyright">
						<span>© 2023 ayudaparamiweb.com</span> 
						<a href="https://www.ayudaparamiweb.com/" title="Ayuda para mi Web">Ayuda para mi Web</a>
					</div>
				</div>
			</div>

      <!-- Social Shared script twitter -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^https:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- Social Shared script facebook -->
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>
			
		</footer>
		
		<script type="text/javascript" src="public/js/typeahead.min.js"></script>
		<script type="text/javascript" src="public/js/hogan.min.js"></script>
		<script type="text/javascript" src="public/js/wp-typeahead.js"></script>
		<script type="text/javascript" src="public/js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
