<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Mapa Guerra de Ucrania y Rusia · Interactivo y Actualizado | APMW</title>
		<meta name="description" content="Mapa actualizado de la Guerra de Ucrania a día 31 de mayo de 2022 tras la invasión Rusa." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
    
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
		<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

		<link href="css/3-experiment-map-ucrania.css" rel="stylesheet" />
    
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-9" itemscope="" itemtype="http://schema.org/Article" class="post-9 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header itemscope="" itemtype="http://schema.org/Article">
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										  <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										  <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										  <meta itemprop="width" content="36">
										  <meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										en 
										<a href="http://www.ayudaparamiweb.com/experimentos">Experimentos</a>
									</div>
									
									<div class="ct-subline__time">
										Actualizado el 
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="dateModified" content="2022-05-31">31/05/2022</time> 
										Publicado el 
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2022-03-03">03/03/2022</time>										
										<strong>6</strong> votos. Media: <strong>4.6</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a" itemprop="name">										
											<meta itemprop="name" content="Mapa Guerra de Ucrania y Rusia">
											<meta href="http://www.ayudaparamiweb.com/mapa-guerra-ucrania-rusia" title="Mapa Guerra de Ucrania y Rusia" itemprop="url">
											<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4.6">
												<meta itemprop="reviewCount" content="6">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Mapa Guerra de Ucrania y Rusia</h1>	
							</header>

							<div class="ct-post-content">

								<div class="ct-post-excerpt" itemprop="description">Mapa interactivo actualizado de la Guerra de Ucrania a día 31 de mayo de 2022, tras la invasión Rusa iniciada el pasado 24 de febrero.</div>
								
								<div class="content-interactive">
									<div id="map"></div>
									<script type="text/javascript" src="js/experiments/3-mapa-guerra-ucrania-rusia/3-experiment-map-ucrania.js"></script>
								</div>	
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 31 de mayo de 2022</h2>
								<p>Las fuerzas rusas se concentran cada vez más en avanzar hacia Slovyansk desde el sureste de Izyum y el oeste y sur de Lyman, donde se están realizando fuertes combates; a su vez, el ejército ruso, incluidas las unidades chechenas, está logrando avanzar en el interior y los alrededores de la ciudad de Severodonetsk.</p>
								<p>Es probable que desde el sur, en la ruptura de Pospana, las fuerzas rusas estén realizando esfuerzos en cercar Lysychansk desde Toshkivka, para así evitar que tener que luchar a través del río Donets desde Severodonetsk, en un intento de enbolsar a las tropas Ucranianas.</p>
								<p>También continuan los asaltos terrestres del ejército ruso al este de Bakhmut, con combates en Zolote, Komyshuvakha, Nyrkove, Berestove, Pokrovske y Dolomitne, todos asentamientos a lo largo del arco oriental de Bakhmut. Es probable que las fuerzas rusas tengan la intención de seguir presionando para obtener acceso a las líneas terrestres de comunicación ucranianas.</p>
								<p>Por otra parte, probablemente la fuerza rusa sienta la presión de la contraofensiva ucraniana emprendida en la parte noroccidentel del Óblast de Kherson, debido a que gran parte del enfoque operativo ruso se encuentra actualmente centrado en la captura de Severodonetsk y Lysychansk.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 25 de mayo de 2022</h2>
								<p>Las fuerzas rusas han adoptado el enfoque de crear cercos más pequeños para privar a las tropas ucranianas de logística y refuerzos, en lugar de perseguir un gran cerco en la frontera administrativa del Óblast de Donetsk.</p>
								<p>El ejército ruso prioriza el avance de tres ejes, al este y al oeste de Popasna en un esfuerzo por cortar los GLOC ucranianos al suroeste de Severodonetsk y completar el cerco del Óblast de Lugansk. Las fuerzas rusas continuan avanzando al este de Popasna para apoderarse de los asentamientos en la carretera T1303 a Lysyschansk, al noreste para cortar el acceso ucraniano a la carretera T1302 desde Bakhmut a Lysychansk, y al suroeste a lo largo de la carretera T0504 desde Popasna hacia Bakhmut. Según los informes, las fuerzas rusas avanzaron hacia Bakhmut desde Svitlodarsk, un asentamiento justo al norte de Debaltseve, y continuaron con los bombardeos, probablemente en preparación para una ofensiva terrestre en la zona.</p>
								<p>Al parecer, la ofensiva rusa por aislar Severodonetsk y Lysychansk no estan siendo bien sincronizada tanto en el tiempo, como en el espacio para cortar las línas de comunicación por tierra los defensores de dichas ciudades. Sin embargo, la intensidad de la artillería rusa y el ataque aéreo, combinada con la concentración de fuerzas rusas extraídas de otros lugares del teatro de operaciones para el asalto a Severodonetsk, sugiere que el asalto podría lanzarse antes de que se hayan cortado dichas líneas de cominicación terrestes o antes de que su interrupción pueda tener un efecto material. Sin embargo, este esfuerzo también podría tratarse de crear un anillo de cerco exterior de dichas localidades. Probablemente las fuerzas rusas deban realizar una ofensiva terrestre en Severodonetsk en los próximos días para mantener el ritmo después de comprometer una parte significativa del personal, la artillería, la aviación y la logística en el frente.</p>
								<p>También, el ejercito ruso continua con los intentos fallidos de mejorar las posiciones tácticas en dirección a Slovyansk y avanzar al sureste de Izyum, intentando sin éxito lanzar un asalto terrestre en Dovhenke, incluso intentando avanzar hacia Lyman desde el área de Izyum, pero sin ganar ningún terreno nuevo hacia en dirección de Siversk.</p> 
								<p>Las fuerzas rusas intensificaron sus ataques de artillería contra posiciones ucranianas, en un intento por mantener y recuperar el control del territorio al norte de la ciudad de Jarcov. El Estado Mayor de Ucrania declaró que las fuerzas rusas bombardearon Ternova, Ruski Tyshky y Rubizhne y que estos intentaron una ofensiva terrestre cerca de Ternova, lo que indica que el control de los asentamientos en el norte del Óblast de Kharkiv siguen en disputa.</p>
								<p>En el sur, los rusos se concentraron en mejorar sus posiciones tácticas y realizaron ataques aéreos, con cohetes, misiles y artillería a lo largo del Eje Sur durante la jornada. El Comando Operacional del Sur de Ucrania informó que las tropas rusas se enfrentaron con la defensa ucraniana en el noreste del Oblast de Mykolaiv mientras intentaban avanzar hacia Kryvyi Rih. Las fuerzas rusas lanzaron un ataque con cohetes contra áreas residenciales de la ciudad de Zaporizhzhia, que según el Ministerio de Defensa ruso fue un ataque contra los talleres de producción ucranianos en la planta de Motor Sich. El ataque directo a la ciudad de Zaporizhzhia probablemente tenga la intención de destruir un centro logístico clave para el ejército ucraniano que opera en el este. Las fuerzas rusas también dispararon en las áreas de Kryvyi Rih y en otros lugares de Dnipropetrovsk Oblast, Mykolaiv y Kherson Oblasts.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 24 de mayo de 2022</h2>
								<p>Es probable que las fuerzas rusas hayan abandonado los esfuerzos para rodear grandes formaciones ucranianas en el este de Ucrania y, en cambio, estén intentando asegurar cercos más pequeños, concentrarse en Severodonetsk.</p>
								<p>Este cambio en el enfoque ruso está permitiendo avances graduales, pero a costa de abandonar varias líneas de avance previstas y abandonar el cerco profundo previsto por el Kremlin de las fuerzas ucranianas en el Dombass.</p>
								<p>Es probable que las fuerzas ucranianas estén realizando una retirada controlada al suroeste de Popasna, cerca de Bakhmut, para proteger las líneas de suministro ucranianas contra las ofensivas rusas en el sureste de Bakhmut.</p>
								<p>Las autoridades de ocupación rusas en Mariupol anunciaron que llevarán a cabo juicios por crímenes de guerra contra soldados ucranianos en Mariupol en un probable esfuerzo por fortalecer el control judicial de la ciudad y apoyar las falsas narrativas del Kremlin sobre los crímenes ucranianos.</p>
								<p>Las fuerzas rusas están intentando retomar Ternova en el norte del óblast de Kharkiv y buscan estabilizar las posiciones defensivas cerca de la frontera rusa contra la contraofensiva ucraniana.</p>
								<p>Las fuerzas rusas están formando reservas y desplegando sistemas de misiles S-400 en el noroeste de Crimea para reforzar el eje sur.</p>
								<p>Varios militares de la DNR publicaron abiertamente un llamamiento en video al líder de la DNR, Denis Pushilin, afirmando que se vieron obligados a participar en operaciones de combate sin el apoyo adecuado, lo que indica una creciente desmoralización entre las fuerzas rusas y delegados.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 23 de mayo de 2022</h2>
								<p></p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 22 de mayo de 2022</h2>
								<p>Las fuerzas rusas continuaron los asaltos terrestres alrededor de Severodonetsk pero no confirmaron ningún avance en esta área el 22 de mayo. El Estado Mayor de Ucrania informó que las tropas rusas llevaron a cabo operaciones ofensivas sin éxito alrededor de Oskolonivka, Purdivka, Schedryshcheve y Smolyianinove, todos asentamientos en el al este de Severodonetsk. Es probable que estas operaciones ofensivas estén destinadas a rodear Severodonetsk desde el este, apoyando avances previos hacia la ciudad desde el norte (a través de Rubizhne), el oeste (a través de Bilohorivka) y el sur (a través de Popasna). Fuentes ucranianas confirmaron además las afirmaciones rusas de que ISW no pudo verificar previamente que las tropas rusas habían asegurado avances limitados al norte y al oeste de Popasna desde al menos el 20 de mayo.</p>
								<p>Las fuerzas rusas continuaron los ataques de artillería alrededor de Lyman el 22 de mayo, pero no confirmaron ningún avance terrestre en el área. Las fuerzas de la milicia de la República Popular de Donetsk afirmaron que tomaron el control de Novoselivka, una aldea en el sur del Óblast de Donetsk.</p>
								<p>Las fuerzas rusas probablemente continuaron los preparativos para nuevas ofensivas en el eje sur el 22 de mayo. El Estado Mayor de Ucrania informó que las tropas rusas en este eje se están enfocando en construir líneas secundarias de defensa, fortalecer los sistemas de defensa aérea, realizar reconocimientos y bombardear posiciones ucranianas, todo de lo cual indica que están poniendo condiciones para posteriores acciones ofensivas. Las fuerzas rusas continuaron los ataques con cohetes y artillería en los óblasts de Zaporizhia, Kherson, Dnipropetrovsk y Mykolaiv.</p>

								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 11 de mayo de 2022</h2>
								<p></p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 6 de abril de 2022</h2>
								<p></p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 3 de abril de 2022</h2>
								<p></p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 30 de marzo de 2022</h2>
								<p></p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 15 de marzo de 2022</h2>
								<p>Los misiles de Putin han golpeado el corazón de la capital ucraniana poco antes de que los máximos representantes de las vecinas Polonia, Eslovenia y República Checa lo pisen. Los dirigentes de los tres países tienen previsto llegar a Kiev este martes para ilustrar su apoyo a Volodymir Zelenski, quien se resiste a abandonar una ciudad bajo amenaza del cerco ruso. En este mismo día está previsto que los negociadores de Rusia y Ucrania vuelvan a reunirse.</p>
								<quote>"El objetivo de la visita es expresar el apoyo unívoco de la Unión Europea a Ucrania, y a su libertad e independencia",</quote> <p>afirmó tajante el primer ministro checo, Petr Fiala, en un trino. Poco después, los líderes, que no anunciaron sus intenciones hasta última hora, emprendieron el largo camino inverso al que ya han realizado tres millones de personas huyendo de las bombas. Unos ataques que, en los últimos días, han demostrado tener una única meta: aterrorizar a la población civil.</p>
								<p>Los funcionarios occidentales que siguen los movimientos de las tropas rusas sobre el terreno ven indicios de cierto freno a sus avances. Pero la invasión sigue, advierte Zelenski, quien el lunes por la noche, en un nuevo vídeo, volvió a apelar a soldados y civiles rusos: "Mientras vuestro país no esté completamente aislado del mundo, convertido en una enorme Corea del Norte, debéis seguir combatiendo", rogó el político.</p>
								<p>De acuerdo con una nota del Gobierno polaco, los tres mandatarios de la UE viajan a Kiev bajo propuesta del del Consejo Europeo, actuando como sus representantes. Naciones Unidas también patrocina la comitiva, encabezada por el polaco Mateusz Morawiecki, el checo Petr Fiala y el esloveno Janez Jansa. Otro de los participantes es el viceprimer ministro de Polonia Jaroslaw Kaczynski, jefe del partido conservador y quien ostenta la cartera de Seguridad.</p>
								<p>Los líderes pisarán los cascotes de una ciudad acongojada, pero dispuesta a seguir plantando cara al embate de Moscú. Las sirenas antiaéreas volvieron a azorar Kiev esta madrugada. Las víctimas directas de un posible ataque con misiles rusos fueron los vecinos de un bloque de quince plantas situado en un distrito occidental de la ciudad. La mayoría tuvo tiempo de ponerse a salvo, pero, según fuentes locales, al menos una persona murió bajo fuego ruso.</p>
								<p>Las fuerzas rusas están concentradas en el arco norte capitalino. Aunque los carros blindados no están realizando avances significativos, una nueva amenaza, según testigos locales, acecha en las calles de áreas aún controladas por el Gobierno ucraniano: pequeños comandos de combatientes pro Rusia infiltrados. Sus asaltos suponen un quebradero de cabeza más para los defensores, que siguen firmes en sus intenciones de sostener Kiev.</p>
								<p>Ante la combinación de amenazas, el alcalde de la capital ucraniana, Vitali Klitschko, ha anunciado un toque de queda continuado de 35 horas, que comenzará a las ocho de la tarde del martes, hora local. Durante este período, los residentes tendrán prohibido salir a la calle, salvo obtención de un permiso especial o para dirigirse a los búnkeres.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 14 de marzo de 2022</h2>
								<p>Inquietud en Polonia por el bombardeo a una base cercana a su frontera. El ataque ruso con cohetes contra una base de entrenamiento situada a unos 20 kilómetros de la frontera polaca es "una señal política y militar" de Rusia, consideró el general polaco retirado Mieczysaw Bieniek.</p>
								<p>Según declaraciones a una radio polaca, el bombardeo por cohetes rusos del Centro Internacional de la Paz y la Seguridad en la noche del sábado con el resultado de decenas de muertos es "simbólico" por tratarse de una base de entrenamiento de voluntarios internacionales que hace solo una semana fue visitada por instructores de la OTAN.</p>
								<p>El centro militar, situado a unos 20 kilómetros de la frontera polaco-ucraniana, fue también el centro de operaciones de las maniobras "Tres Espadas" en las que participaron 1.200 soldados polacos, lituanos, estadounidenses y ucranianos en 2021.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 13 de marzo de 2022</h2>
								<p>Golpe de Putin a la ayuda militar de Occidente a Ucrania</p>
								<p>Vladimir Putin subió este domingo un peldaño más de la escalera para internacionalizar su invasión de Ucrania, e involucrar a otros actores en el conflicto provocado por su agresión unilateral, al atacar el ejército ruso, con ocho misiles de crucero lanzados desde Bielorrusia, uno de los centros de adiestramiento militar principales del oeste del país, el de Yavoriv, matando a 35 personas e hiriendo a otras 134.</p>
								<p>La base, denominada Centro Internacional para el Mantenimiento de la Paz y la Seguridad, de 360 kilómetros cuadrados de superficie y situada a apenas 25 kilómetros de la frontera con Polonia, ya país OTAN, ha acogido regularmente ejercicios del ejército ucraniano junto con mandos de otros de países de la Alianza Atlántica -por última vez en septiembre pasado-.</p>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la invasión Rusa a día 9 de marzo de 2022</h2>
								<p>Los bombardeos Rusos continuan un día más sobre la ciudad costera de Mariupol, una de las ciudades más castigadas por la ofensiva rusa desde que comenzo la invasión.</p>
								<p>El presidente Ucraniano, Zelensky, denunciaba por la tarde, un ataque a un céntro hospitalario de Mariupol, en concreto en el hospital maternal-infantil, donde habría varios muertos y por lo menos 17 heridos.</p>
								
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="http://www.ayudaparamiweb.com/img/experiments/mapa-guerra-ucrania-rusia-20220310.png" title="Mapa Guerra de Ucrania y Rusia" alt="Mapa de la situación a día 10 de marzo en Ucrania"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/experiments/mapa-guerra-ucrania-rusia-20220310.png">
									<meta itemprop="width" content="1028">
									<meta itemprop="height" content="624">
								</div>
								
								<p>En el frente norte, las fuerzas rusas están consolidando sus posiciones y se preparan para nuevas operaciones en el oeste y este de la capital, Kiev, especialmente en Irpin y sus alrededores y en Brovary, para intentar poner cerco a la ciudad. Mientras los efectivos Ucranianos siguen resistiendo el asedio.</p>
								
								<h3>Eventos</h3>
								<ul>
									<li>Rusia bombardea el Hospital materno-infantil de Mariupol.</li>
									<li>Operaciones de evacuación.</li>
									<li>Asedio a Kiev</li>
								</ul>
								
								<h2 class="ct-h-shd entry-title" itemprop="headline">Situación de la guerra a día 8 de marzo de 2022</h2>
								<p>Situación Noreste de Kiev:</p>
								<div class="bg-img bg-purple">	
									<img src="http://www.ayudaparamiweb.com/img/experiments/mapa-guerra-ucrania-rusia-20220308.png" title="Mapa Guerra de Ucrania y Rusia" alt="Mapa de la ciudad Ucraniana de Kiev asesiada por los bombardeos Rusos"/>
								</div>
								<p>Rusia bombardea por la noche la ciudad de Sumy, al noreste de Ucrania.</p>
								
							</div>	
                
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">Experimentos</a><a href="http://www.ayudaparamiweb.com/" rel="tag">Guerra</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box red">
							<% include ../authors/sucender-short.ejs %>
						</div>
					</div>

												

					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
