<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Historia cronológica e interactiva | Ayuda para mi Web</title>
		<meta name="description" content="Historia cronológica" />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
    
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
		<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>

		<link href="css/3-experiment-map-ucrania.css" rel="stylesheet" />
    
	</head>
	
	<body id="codrops-body">
				
		<div class="ct-container">
		
			<% include ../partials/header.ejs %>
				
			<div class="ct-content">

				<div class="ct-inner">

					<div class="ct-main ct-main-post" id="ct-main" role="main">

						<div class="ct-post">

							<article id="post-9" itemscope="" itemtype="http://schema.org/Article" class="post-9 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">

								<header itemscope="" itemtype="http://schema.org/Article">
									<h1 class="ct-h-shd entry-title" itemprop="headline">La Vuelta al mundo</h1>	
								</header>

								<div class="ct-post-content">

									<div class="content-interactive">
										<div id="map"></div>
										<script src="js/experiments/historia/routes.js"></script>
										<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
										<script type="text/javascript" src="js/experiments/historia/historia.js"></script>
									</div>	

								</div>	

							</article>

							<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">Experimentos</a><a href="http://www.ayudaparamiweb.com/" rel="tag">Historia</a></p>
							<div class="clr"></div>
						</div>

						<div class="ct-row">
							<div class="ct-author-info ct-box red">
								<% include ../authors/sucender-short.ejs %>
							</div>
						</div>

					</div>

					<aside class="ct-sidebar">		

						<% include ../partials/aside.ejs %>	

					</aside>

					<div class="clr"></div>

				</div><!--//ct-inner-->

			</div><!--//ct-content-->

			<footer class="ct-footer">

				<% include ../partials/footer.ejs %>	

			</footer>

			<script type="text/javascript" src="js/typeahead.min.js"></script>
			<script type="text/javascript" src="js/hogan.min.js"></script>
			<script type="text/javascript" src="js/wp-typeahead.js"></script>
			<script type="text/javascript" src="js/wp-embed.min.js"></script>
			
		</div><!--ct-container-->

	</body>
 </html>
