<!doctype html>
<html dir="ltr" lang="es" xml:lang="es" class="js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tags | Ayuda para mi Web</title>
	<%- include('../partials/head.ejs') %>
</head>
<body id="codrops-body">
	<div class="ct-container">
		<%- include('../partials/header.ejs') %>
		<div class="ct-content">
			<div class="ct-inner">
				<div class="ct-main ct-main-archive" role="main">
					<div class="ct-archive">
						<h1 data-tag-title>Tag</h1>
						<div class="ct-cat-desc">
							<p>Publicaciones relacionadas con este tag.</p>
						</div>
						<div class="ct-archive-container" data-tag-list></div>
						<div class="clr"></div>
					</div>
				</div>
				<aside class="ct-sidebar">
					<%- include('../partials/aside.ejs') %>
				</aside>
				<div class="clr"></div>
			</div>
		</div>
		<footer class="ct-footer">
			<%- include('../partials/footer.ejs') %>
		</footer>
		<script type="text/javascript" src="js/tags-page.js"></script>
	</div>
</body>
</html>
