<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>SEO ¿Qué es? | Ayuda para mi Web</title>
		<meta name="description" content="¿Eres nuevo en SEO? ¿Te preguntas cómo funciona y qué es lo que más importa en 2019? Estás en el lugar correcto!" />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-8" itemscope="" itemtype="http://schema.org/Article" class="post-8 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
												
							<header>
									<div class="ct-subline entry-meta">
									
										<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
											<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
											  <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
											  <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
											  <meta itemprop="width" content="36">
											  <meta itemprop="height" content="36">
											</div>
											<meta itemprop="name" content="Sucender">
										</div>
									
										<div class="ct-subline__author">
											<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
											in 
											<a href="http://www.ayudaparamiweb.com/">Tutorials</a>
										</div>
										
										<div class="ct-subline__time">
											<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2019-03-01">01/03/2019</time> 
											<strong>5</strong> votos. Media: <strong>4.4</strong> de 5
											<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
												<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
													<meta itemprop="bestRating" content="5">
													<meta itemprop="worstRating" content="1">
													<meta itemprop="ratingValue" content="4.4">
													<meta itemprop="ratingCount" content="5">
												</div>
											</div>
										</div>
										
									</div>
									
									<h1 class="ct-h-shd entry-title" itemprop="headline">SEO ¿Qué es?</h1>								
								</header>

							<div class="ct-post-content">

								<div class="ct-post-excerpt" itemprop="description">¿Eres nuevo en SEO? ¿Te preguntas cómo funciona y qué es lo que más importa en 2019? Estás en el lugar correcto!</div>
							
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/seo-que-es.png" alt="Imagén sobre, SEO ¿Qué es?"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/seo-que-es.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="500">
								</div>
								
								<p>En este articulo vamos a conocer los conceptos básicos de SEO, pero antes de profundizar en técnicas y aspectos específicos de cómo aprender SEO en 2019, comencemos por el principio que trata de los términos básicos del SEO.</p>
								<h2>¿Qué es SEO?</h2>
								<p>La optimización de motores de búsqueda (SEO) es un proceso para mejorar las posiciones en los resultados de búsqueda orgánicos (no pagados) en los motores de búsqueda. Cuanto más alto es el sitio web, más gente lo ve.</p>
								<p>La historia del SEO se remonta a los años 90 cuando los motores de búsqueda emergieron por primera vez. Hoy en día, es una estrategia de marketing esencial y una industria en crecimiento.</p>
								<p>Si desea aprender SEO, debe recordar que requiere mucho trabajo creativo, técnico y analítico. Existen muchas técnicas con diferentes objetivos, sin embargo, el punto principal seguirá siendo el mismo: estar entre los resultados más altos en búsquedas orgánicas.</p>
								<p>En pocas palabras, SEO se trata de ejecutar el sitio web adecuado para las personas adecuadas.</p>
								<p>No se trata solo de una estructura perfecta o antecedentes técnicos del sitio web. Su web debe estar llena de contenido de calidad bien optimizado y adaptado a las necesidades de su audiencia. Asegúrese de que su contenido sea lo suficientemente bueno como para ser vinculado por otros sitios web.</p>
								<p>SEO es una disciplina compleja que necesita toda su atención. ¿Y la mejor parte? Evoluciona todo el tiempo, por lo que su sitio web siempre debe mantenerse al día con los cambios.</p>
								<h2>¿Por qué debería aprender SEO?</h2>
								<p>Motores de búsqueda como Google, Bing, Yahoo! y otros indexan sitios web para crear un pedido basado en varios algoritmos de clasificación. ¿Podemos identificar estos algoritmos? Si y no.</p>
								<p>Google utiliza más de 200 factores de clasificación. Conocemos muchos de ellos: contenido, vínculos de retroceso o aspectos técnicos, como la velocidad del sitio, pero hay muchos que se mantienen en secreto.</p>
								<p>Los motores de búsqueda son utilizados por los usuarios de Internet cuando están buscando algo. Y quieres ser ese "algo", ¿no? No importa si vende un producto, servicio, escribe un blog o cualquier otra cosa, la optimización de motores de búsqueda es una necesidad.</p>
								<p>Su sitio web debe ser indexado por los motores de búsqueda. De lo contrario, estás perdido.</p>
								<p>Las actividades de Wise SEO mejoran sus clasificaciones en la página de resultados del motor de búsqueda (SERP). Las clasificaciones más altas significan un tráfico más alto. Si el tráfico está ocupado, traerá conversiones.</p>
								<p>Para resumir, si planea tener éxito con su sitio web, tendrá que hacer SEO.</p>
								<h2>¿Cómo puedo aprender SEO? ¿Necesito la ayuda de alguien?</h2>
								<p>Incluso los cambios básicos pueden hacer una gran diferencia en la forma en que los motores de búsqueda ven su sitio web. En esta guía de SEO definitiva para principiantes, cubriremos todos los temas críticos y los conceptos básicos de SEO. Obtendrás el conocimiento suficiente para continuar con el SEO por tu cuenta.</p>
								<p>Si se pregunta cómo aprender SEO en 2019, tenemos una respuesta simple para usted: <em>necesitará mucho estudio y práctica. </em>Lo bueno es que encontrará toneladas de información en Internet de forma gratuita (incluida esta guía de SEO), pero debe elegir sabiamente. Además, puedes asistir a varios cursos, clases o seminarios web .</p>
								<p>Si no quiere molestarse tanto o no tiene tiempo, puede pedir ayuda a consultores, especialistas o agencias de SEO. Tenga en cuenta que de esta manera será más caro.</p>
								<h2>Vocabulario básico de los términos:</h2>
								<ul>
								<li>SEO en la página vs. fuera de la página</li>
								<li>Sombrero blanco vs. sombrero negro vs. sombrero gris SEO</li>
								</ul>
								<h3>SEO en la página vs. fuera de la página</h3>
								<p>Hacer SEO en la página (en el sitio) significa optimizar su sitio web para afectar los resultados de los motores de búsqueda. Es todo lo que puede hacer en el sitio web, desde el contenido hasta los aspectos técnicos para diseñar:</p>
								<ul>
								<li>etiquetas meta</li>
								<li>encabezados</li>
								<li>Estructura de URL</li>
								<li>optimización de imágenes</li>
								<li>contenido</li>
								<li>Tamaño y velocidad del sitio web</li>
								</ul>
								<p>… y muchos otros. Tratamos con ellos en detalle más adelante en esta guía de SEO.</a></p>
								<p>El SEO fuera de la página (fuera del sitio) cubre todas las actividades que realiza para mejorar la autoridad del dominio a través de enlaces de retroceso de otros sitios web. Hay muchas maneras de conseguirlos:</p>
								<ul>
								<li>intercambiando backlinks</li>
								<li>blogging invitado</li>
								<li>comprando backlinks</li>
								<li>esfuerzos de redes sociales</li>
								<li>cooperación con personas influyentes</li>
								<li>Escribir contenido valioso, por lo que a las personas les encantaría enlazar a su sitio web.</li>
								</ul>
								<p>... y muchos otros que veremos más adelante .</p>
								<h3>Sombrero blanco vs. sombrero negro vs. sombrero gris SEO</h3>
								<p>¿Eres un chico malo? Los sombreros negros contra los sombreros blancos tienen su origen en las películas occidentales. Es como chicos malos contra chicos buenos. Pero no tomes estas palabras demasiado en serio. Las opiniones sobre ambos enfoques de SEO tienden a diferir.</p>
								<p>Black hat SEO es un conjunto de prácticas poco éticas para mejorar las clasificaciones de un sitio web en la página de resultados del motor de búsqueda. Están diseñados para afectar a los motores de búsqueda sin tener en cuenta el factor humano.</p>
								<p>Black Hat SEO puede llevarlo a la cima de SERP en poco tiempo, sin embargo, los motores de búsqueda probablemente penalizarán y prohibirán el sitio web tarde o temprano.</p>
								<p>Las listas de prácticas violatorias se pueden encontrar en <a href="https://support.google.com/webmasters/answer/35769?hl=en" target="_blank" rel="noopener">las Pautas para webmasters de Google</a> o <a href="https://www.bing.com/webmaster/help/webmaster-guidelines-30fba23a" target="_blank" rel="noopener">en las Pautas para webmasters de Bing.</a></p>
								<p>White hat SEO es un conjunto de técnicas éticas que se adhieren a las pautas y reglas. Las partes básicas de White Hat SEO son:</p>
								<ul>
								<li>Calidad y contenido relevante.</li>
								<li>construcción de enlaces</li>
								</ul>
								<p>White hat SEO es una estrategia a largo plazo orientada a la experiencia del cliente. Ser un buen tipo en el mundo del SEO debería ser la dirección correcta.</p>
								<p>También hay un término llamado Grey hat SEO, una práctica en la que puedes arriesgar menos en comparación con las técnicas de Black hat. Google no define claramente las técnicas de sombrero gris, por lo que puede ganar miles de usuarios de sitios web sin que se le penalice o pierda todas sus clasificaciones un día después.</p>
								<p>En general, no quieres convertir a Google en tu enemigo.</p>

							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">animation</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">canvas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">slideshow</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
