<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Experiencia de usuario (UX) y SEO | Ayuda para mi Web</title>
		<meta name="description" content="El mundo de la programación web ha evolucionado mucho desde mis primeros años como desarrollador, en este artículo expongo mis herramientas para desarrollar." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-14" itemscope="" itemtype="http://schema.org/Article" class="post-14 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										<meta itemprop="width" content="36">
										<meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										en 
										<a href="http://www.ayudaparamiweb.com/">Articulos</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2019-04-16">16/04/2019</time> 
										<strong>1</strong> votos. Media: <strong>5</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="5">
												<meta itemprop="ratingCount" content="1">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Experiencia de usuario (UX) y SEO</h1>
							</header>		
							<div class="ct-post-content">

								<div class="ct-post-excerpt" itemprop="description">La experiencia de usuario (UX) y el SEO son un dúo muy dinámico. En este capítulo, nos centramos en su sinergia para que descubra cómo puede influir positivamente en sus clasificaciones orgánicas haciendo una pequeña optimización adicional.</div>
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/experiencia-de-usuario-ux-y-seo.png" alt="Imagén sobre la sinergia de UX y SEO."/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/experiencia-de-usuario-ux-y-seo.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="500">
								</div>
								
								<p>La parte analítica del SEO consiste en rastrear las posiciones de palabras clave orgánicas, el tráfico del sitio web y su participación en Google Analytics, Webmaster Tools y muchas otras herramientas especializadas.</p>
								<p>UX (experiencia de usuario), por otro lado, se ocupa principalmente del diseño, los esquemas, las proyecciones y las técnicas para una experiencia impecable para el cliente. Si quieres beneficiarte más, debes buscar su sinergia.</p>
								<p>Si bien los SEO deben comprender que no solo se trata de clasificaciones, los especialistas en UX tienen que admitir que la experiencia del usuario se inicia incluso antes de utilizar el sitio web.</p>
								<blockquote>La experiencia del usuario comienza al enviar una consulta de búsqueda a un motor de búsqueda.</blockquote>
								<h2>Experiencia de usuario. ¿Qué es?</h2>
								<p>La experiencia del usuario es básicamente la interacción de cada usuario con la empresa, su sitio web o sus productos. Es la experiencia general que influye en el desarrollo de productos, el diseño, el marketing y la atención al cliente.</p>
								<p>En esta guía de SEO, nos centramos en la experiencia del usuario "en línea" y su relación con SEO. UX ya no se trata solo de cumplir con los requisitos del cliente. Se trata de ir más allá de estos requisitos.</p>
								<p>Debe pensar fuera de la caja y desarrollar un sitio web que cubra naturalmente todas las necesidades posibles de un cliente sin molestarlo.</p>
								
								<p>Consejo rapido:</p>
								<p><em>UX no es UI (interfaz de usuario). Sí, es parte de esto, pero debemos distinguir estos términos. Imagina una tienda online. A pesar de que su UI para encontrar un producto puede ser perfecto, el UX general será pobre si hacemos clic en "Ordenar y pagar" y de repente aparece un mensaje de error que indica que el producto está agotado.</em></p>
								
								<h2>UX gobierna el mundo</h2>
								<p>La primera y más importante parte es entender que el UX es un proceso interminable de mejoras hacia los clientes. Es una filosofía a la que la empresa debe atenerse y desarrollar su sitio web en consecuencia.</p>
								<p>Web UX es una mezcla de contenido y UX técnica. Si quisiéramos decirlo simplemente, diríamos que UX lo es todo. Es por eso que necesitamos entender la complejidad y su influencia en todos los miembros de la compañía. Estamos hablando acerca de:</p>
								
								<ul>
									<li>Estructura del sitio web</li>
									<li>Navegación del sitio web</li>
									<li>Diseño</li>
									<li>desarrollo web</li>
									<li>Calidad y densidad de contenido.</li>
									<li>Estructura de contenido</li>
									<li>Aspectos técnicos de SEO</li>
									<li>Atención al cliente en tiempo real</li>
									<li>Flujo de trabajo suave</li>
									<li>Posibilidad de alcanzar fácilmente el nivel de conversión.</li>
								</ul>

								<h2>Desafíos UX y SEO</h2>
								<p>Incluso si pensamos <em>"UX y SEO" en</em> lugar de <em>"UX vs. SEO"</em> , tenemos que hacer frente a los desafíos de vez en cuando. Éstos son algunos de los choques más comunes.</p>
								<h3>Sitio web</h3>
								<p><em>Pongamos todo en una sola página para asegurar una experiencia de usuario perfecta. </em>Esta es una idea válida en el mundo UX. Es fácil y tiene sentido. Pero los SEO saben que el tráfico orgánico es al menos la mitad del éxito.</p>
								<p>Muchos visitantes deben provenir de la búsqueda orgánica o acceder a la página directamente en función de sus acciones anteriores. Otros visitantes son referidos de varias fuentes, tales como redes sociales, blogs o campañas de PPC.</p>
								<p>¿Te imaginas una experiencia de página única para todas estas diferentes intenciones y consultas de búsqueda? La gente usa Google para encontrar lo que quiere. Su sitio web debe ser la respuesta.</p>
								<h3>Estructura del sitio web</h3>
								<p>Basado en el punto anterior, los SEO pensarán en varias páginas de destino con palabras clave adecuadas, etiquetas meta y la estructura general del sitio web desde el punto de vista de SEO. El especialista en UX buscará una navegación mínima en el sitio.</p>
								<p>La verdad es que los hacks de navegación en el sitio, como la barra de búsqueda con autocompletado inteligente, los enlaces internos con textos anclados o el soporte inmediato al cliente, aumentan tanto el UX como el SEO.</p>
								<h3>Infografia</h3>
								<p>Este es un caso muy común de UX vs. SEO. Las infografías son una excelente manera de hacer que la información se vea bien. Sin embargo, desde el punto de vista SEO, las infografías cargadas como imágenes tienen un valor muy bajo. En este caso, no olvide incluir el contenido en la copia del sitio web.</p>
								<h3>Videos</h3>
								<p>Un video es probablemente una de las maneras más rápidas y fáciles de compartir de cómo compartir contenido. Por otra parte, ayuda a SEO al ganar backlinks, me gusta, comentarios o acciones. Pero puede comer todas las palabras clave valiosas. Es por eso que deberíamos incluir una transcripción en el sitio web.</p>
								
								<h2>Cómo medir UX y SEO.</h2>
								<p>Desde Google Analytics a través de informes especializados hasta datos internos, hay una variedad de opciones que podemos usar.</p>
								<h3>Métricas de compromiso y comportamiento en Google Analytics</h3>
								<p>“Tasa de rebote”, “Páginas por sesión” y “Avg. duración de la sesión ” proporciona la vista básica sobre la interacción del usuario. Estas métricas se encuentran en casi todos los informes en GA, por lo que podemos verlas para varias fuentes de tráfico.</p>
								<p>La información más detallada está disponible en la categoría "Comportamiento" . Aquí podemos ver cómo los visitantes interactúan con varias secciones del sitio web. Depende de nosotros si queremos un informe basado en las fuentes de tráfico, páginas de destino o cualquier otra cosa.</p>
								<p>"Flujo de comportamiento" viene con consejos útiles. Nos dice cuántos usuarios pasaron o bajaron al visitar esa sección en particular.</p>
								<h4>Embudos de conversión en Google Analytics</h4>
								<p>Esto es muy útil si un proceso de conversión consiste en más de un paso. Puede ser un formulario de registro, proceso de compra o formulario de suscripción. Este informe nos dirá el número exacto de visitantes que pasaron por el proceso. Es solo otra información extremadamente útil para la optimización de UX.</p>						
								<h4>Heatmaps y grabaciones</h4>
								<p>Los mapas de calor básicamente visualizan todos los datos que vemos en Google Analytics al tiempo que proporcionan muchos informes útiles. Las sofisticadas herramientas de mapas de <a href="https://www.hotjar.com/" target="_blank" rel="noopener">calor</a> como <a href="https://www.hotjar.com/" target="_blank" rel="noopener">Hotjar</a> o <a href="https://www.crazyegg.com/" target="_blank" rel="noopener">Crazyegg</a>vienen con soluciones analíticas complejas, pero pueden ser demasiado caras para los bloggers o pequeñas empresas. Para los principiantes, un plan gratuito limitado por Hotjar o <a href="https://www.ptengine.com/plan" target="_blank" rel="noopener">Ptengine</a> puede ser un buen comienzo.</p>
								<p>Heatmaps ayuda mucho cuando se trata de UX y SEO. El poder de los mapas de calor reside en la capacidad de ver dónde hacen clic exactamente las personas, en qué pueden hacer clic, cómo se desplazan e interactúan.</p>
								<p>Las herramientas de mapa de calor de primera categoría incluyen las grabaciones del comportamiento del usuario. ¿Merecen la pena? Sí, pero no para todos. Las empresas con páginas más complicadas (comercio electrónico) (y, por lo general, con presupuestos más grandes) deberían apostar por ello, pero los blogueros no tienen sentido gastar cientos de dólares en estas herramientas expertas.</p>
								<h4>Datos internos</h4>
								<p>¿Sabes qué es lo bueno de los datos internos? No hay ningún costo adicional. Sus colegas o usted crean informes llenos de información útil todo el tiempo:</p>
								<ul>
									<li>Preguntas de los clientes</li>
									<li>Formularios de comentarios</li>
									<li>Comentarios y reacciones en las redes sociales.</li>
									<li>Deseos y quejas de los clientes.</li>
									<li>Informes de marketing</li>
									<li>Respuestas por correo electrónico</li>
									<li>Informes de desarrolladores web.</li>
								</ul>
								<h4>Pruebas y velocidad del sitio</h4>
								<p>¡Probar el sitio web antes de su lanzamiento es una necesidad! Los beta testers proporcionan mucha información útil. Son los primeros usuarios reales. Además de eso, puede realizar algunas pruebas de usabilidad con colegas, amigos o seguidores durante el proceso de desarrollo.</p>
								<p>Preste atención a los elementos clave, como la velocidad del sitio, la optimización móvil y otros aspectos técnicos importantes de SEO. La lista completa con una infografía descargable se puede encontrar en el <a href="" rel="noopener">tercer capítulo.</a></p>
																
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">SEO</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">Backlinks</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
