<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>El mundo del programador | Ayuda para mi Web</title>
		<meta name="description" content="¿Qué necesitas para ser un buen programador?" />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-33985" class="post-33985 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta ">
									<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
									<div class="ct-subline__author">
										<span class="byline author vcard"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></span>
										in 
										<a href="http://www.ayudaparamiweb.com/">Tutorials</a>
									</div>
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate">2018/08/22</time> 
										2 Comments
									</div>
								</div>
								<h1 class="ct-h-shd entry-title">El mundo del programador</h1>
							</header>		
							<div class="ct-post-content">
								<div class="ct-post-excerpt">La mayoría de la gente ha oído hablar de Bluetooth, pero muchos desconocen qué es, cómo funciona y qué pueden hacer con él. Tratemos de llenar los vacíos con nuestra guía completa, que incluye usos comunes para Bluetooth y explicaciones sobre cómo configurarlo.</div>
								<div class="ct-ad-article-wrapper"></div>
								<div class="ct-post-featured-img">
								    <a href="http://www.ayudaparamiweb.com/" title="¿Que es Blueooth?"><img width="800" height="600" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/PiecesSlider.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="PiecesSlider" srcset="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/PiecesSlider.jpg 800w, https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/PiecesSlider-300x225.jpg 300w, https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2018/02/PiecesSlider-768x576.jpg 768w" sizes="(max-width: 800px) 100vw, 800px"></a>
								</div>
																
								<h2>¿Qué es el Bluetooth?</h2>
								
								<p>Antaño, cuando la web únicamente constaba de páginas HTML estáticas, difícilmente administrables, una única persona bastaba para llevar una “web”, se le llamaba el “<strong>webmaster</strong>” y ahí acababa el cuento.</p>
								<p>A día de hoy, la web ha evolucionado muchísimo, paralelamente a cómo y desde cuál dispositivo nos conectamos, y una sola persona en ocasiones no es suficiente. <strong>Ahora no se trata de hacer páginas web, si no aplicaciones web</strong>, y adaptadas a <strong>dispositivos móviles</strong> ya que son por los que circula la mayoría del tráfico de internet.</p>

								<p>Un proyecto web tiene 2 partes principales, el Front-End (lo que ve el cliente) y el Back-End (la ingeniería que hay detrás) complementadas con el diseño, la usabilidad y la arquitectura de la información. Veámoslas más en detalle</p>
								
								<h4 id="backend">Back End</h4>
								<p>Es la parte que se encarga de procesar la información que le llega del cliente, almacenarla en base de datos y devolverla al cliente. Detrás de el se encuentra el software de la aplicación, el servidor que la maneja y la base de datos que la almacena. Los <strong>lenguajes de programación</strong> que existen en esta parte son:</p>
								
								<ul>
									<li><a href="http://php.net/">PHP</a></li>
									<li><a href="http://www.java.com/es/">Java</a></li>
									<li><a href="https://www.ruby-lang.org/es/">Ruby</a></li>
									<li><a href="http://python.org">Python</a></li>
									<li><a href="http://nodejs.org">Node.js</a></li>
								</ul>
								<p>Los 3 últimos son los más utilizados hoy en día en las principales <em>Startups</em> y aplicaciones web, pero no funcionan solos, tienen con ellos poderosos <strong>frameworks</strong> y extensiones que los hacen más manejables y productivos</p>
								<ul>
									<li><a href="http://rubyonrails.org/">Rails</a> (Ruby)</li>
									<li><a href="https://www.djangoproject.com/">Django</a> (Python)</li>
									<li><a href="http://expressjs.com/">Express </a>y <a href="http://socket.io">Socket.io</a> (Node.js)</li>
								</ul>
								<p>La información que manejan las aplicaciones típicamente es almacenada en una <strong>base de datos.</strong> Existen dos tipos: Relacionales en las que unas tablas están relacionadas con otras a través de una clave. Y no relacionales (NoSQL) que guardan los datos en documentos y para ciertas aplicaciones son más rápidas</p>
								<ul>
									<li><strong>Relacionales</strong>
										<ul>
											<li><a href="http://www.mysql.com/">MySQL</a></li>
											<li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
											<li><a href="https://mariadb.org/">MariaDB</a></li>
											<li><a href="http://www.sqlite.org/">SQLite</a></li>
										</ul>
									</li>
									<li><strong>No Relacionales</strong>
										<ul>
											<li><a href="http://www.mongodb.org/">MongoDB</a></li>
											<li><a href="https://cassandra.apache.org/">Cassandra</a></li>
											<li><a href="http://couchdb.apache.org/">CouchDB</a></li>
										</ul>
									</li>
								</ul>
								
								<h4 id="frontend"><strong>Front End</strong></h4>
								<p>El Front-End es lo que ve el cliente, la parte visual de una aplicación o proyecto web. Anteriormente se limitaba a la maquetación de un sitio con HTML, añadirle estilos con CSS y alguna animación o efecto con JavaScript. Ahora no, ahora tenemos aplicaciones web que funcionan enteramente en el navegador y únicamente reciben datos desde un API en formato JSON a través de AJAX o WebSockets.</p>
								<p>Las tecnologías que operan en esta parte son</p>
								<ul>
									<li><strong>HTML5</strong>, aporta semántica al contenido y estructura la información</li>
									<li><strong>CSS3</strong>, maqueta la información y diseña</li>
									<li><strong>JavaScript</strong>, permite la programación en el cliente y su conexión con el servidor, maneja el DOM, añade interacción, etc</li>
								</ul>
								<p>Por supuesto no están solos:</p>
								<ul>
									<li><strong>Frameworks CSS</strong>
										<ul>
											<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
											<li><a href="http://foundation.zurb.com/">Zurb Foundation</a></li>
										</ul>
									</li>
									<li><strong>Preprocesadores de CSS</strong> (Compilan código a CSS)
										<ul>
											<li><a href="http://learnboost.github.io/stylus/">Stylus</a></li>
											<li><a href="http://lesscss.org/">Less</a></li>
											<li><a href="http://sass-lang.com/">Sass</a></li>
										</ul>
									</li>
									<li><strong>Preprocesadores de JS</strong> (convierten código a JS)
										<ul>
											<li><a href="https://www.dartlang.org/">Dart</a></li>
											<li><a href="http://coffeescript.org/">CoffeeScript</a></li>
										</ul>
									</li>
									<li><strong>Frameworks y Librerias JS</strong>
										<ul>
											<li><a href="http://jquery.org">jQuery</a></li>
											<li><a href="http://backbonejs.org">Backbone.js</a></li>
											<li><a href="http://angularjs.org">Angular.js</a></li>
											<li><a href="http://emberjs.org">Ember.js</a></li>
										</ul>
									</li>
									<li><strong>Sistemas de templates</strong>
										<ul>
											<li><a href="http://mustache.github.io/">Mustache</a></li>
											<li><a href="http://paularmstrong.github.io/swig/">Swig</a></li>
											<li><a href="http://embeddedjs.com/">EJS</a></li>
											<li><a href="http://underscorejs.org/">Underscore</a></li>
										</ul>
									</li>
								</ul>
								<p>y muchos más.</p>
								
								<h4 id="diseoexperienciadeusuarioyusabilidaduiux">Diseño, Experiencia de Usuario y Usabilidad (UI/UX)</h4>
								<p>Con el avance de la parte Front-End, ahora el diseño y la interacción con los usuarios ocupan una nueva disciplina. En esta parte se tocan cosas como:</p>
								<ul>
									<li>Diseño de interfaces
										<ul>
											<li><a href="http://designshack.net/articles/css/mobilefirst/">Mobile First</a></li>
											<li><a href="http://en.wikipedia.org/wiki/Responsive_web_design">Responsive Design</a></li>
											<li><a href="http://bjango.com/articles/designingforretina/">Retina Design</a></li>
										</ul>
									</li>
									<li>Diseño de Workflows</li>
									<li>Usabilidad</li>
									<li>UX, Experiencia de usuario</li>
								</ul>
								
								<h4 id="arquitecturadeinformacin">Arquitectura de Información</h4>
								<p>El contenido en la web actual no es estático, está generado en su mayor parte por los usuarios y ellos interaccionan entre ellos. Hay que saber estructurarlo, como redactarlo, como presentarlo. En esta parte entra el <strong>SEO</strong> (Search Engine Optimization), la <strong>estrategia digital</strong> de la marca/proyecto (Inbound Marketing, Outbund Marketing) y el Social Media.</p>
								<p>Y eso es en resumen las partes más importantes y roles que conlleva un proyecto web hoy en día. Lo recomendable es especializarse en lo que más no guste pero saber un poco de todo para tener una visión general del todo.</p>
								<p>¿Qué os gusta más a vosotros?</p>
											
								
								
								<p>Bluetooth es un estándar de comunicación inalámbrica que permite que los dispositivos electrónicos se conecten e interactúen entre sí. Se puede encontrar en una serie de dispositivos, desde teléfonos inteligentes hasta altavoces, computadoras portátiles y más.</p>
								<p>Bluetooth no depende de Wi-Fi o de datos móviles o de una red de telefonía celular: siempre que los dispositivos sean compatibles con Bluetooth, y muy cerca el uno del otro, pueden participar en la comunicación bidireccional inalámbrica.</p>
								
								<h2>¿Qué significan los números de versión de Bluetooth?</h2>
								<p>Bluetooth se ha sometido a una serie de iteraciones desde que se introdujo por primera vez en 1999 y su primera versión (1.0) es difícil de encontrar en cualquier dispositivo ahora. La mayor diferencia entre estas versiones es la velocidad a la que pueden transferir datos, siendo la iteración más reciente, Bluetooth 4.2, la más rápida y eficiente de estas.</p>
								<p>Bluetooth 4.0 y superior se pueden encontrar en la mayoría de los teléfonos inteligentes modernos con Android.</p>
								
								<h2>¿Cómo puedo saber si mi teléfono tiene Bluetooth?</h2>
								<p>Si actualmente posee un teléfono inteligente Android, es muy probable que tenga Bluetooth. Este es un componente de bajo costo, ampliamente aplicable y fácil de implementar: a menos que su teléfono sea extremadamente viejo o extremadamente barato, debe tener Bluetooth.</p>
																
								<h2>¿Cuál es la diferencia entre Bluetooth y NFC?</h2>
								<p>Bluetooth y NFC son en muchos aspectos muy similares: incluso puede usar NFC junto con Bluetooth para conexiones más rápidas. Las diferencias clave son:</p>
								<ul> 
									<li>NFC no requiere "emparejamiento", lo que significa unir dos dispositivos Bluetooth, por lo que es más rápido <em>comenzar</em> la transferencia de datos</li> 
									<li>NFC opera en distancias más cortas (generalmente menos de 10 cm)</li> 
									<li>NFC se puede usar para pagos móviles, Bluetooth no puede</li> 
								</ul>
								<p>Bluetooth 4.0, por otro lado, tiene un alcance de al menos 200 pies y transfiere datos más rápido que NFC.</p>
								
								<h2>¿Cómo uso Bluetooth?</h2>
								<p>Para usar Bluetooth, primero debes asegurarte de que esté habilitado en tu dispositivo. Vaya a la <em>configuración> Bluetooth</em> y desplace el interruptor a la posición de encendido .</p>
								<p>También puede desplegar el tono de notificación deslizando hacia abajo desde la parte superior del teléfono y es probable que vea el ícono de Bluetooth. Toca para habilitarlo o deshabilitarlo.</p>
								
								<h2>¿Cómo emparejo mi teléfono con un dispositivo Bluetooth?</h2>
								<p>Sencillo. Encienda el dispositivo Bluetooth, y luego desde el menú de Bluetooth de su teléfono inteligente (la ruta a la que puede encontrar arriba) busque el nombre del dispositivo al que desea conectarse y tóquelo. (De manera predeterminada, el nombre del dispositivo al que desea conectarse debe ser muy claro.) Unos momentos más tarde, los dispositivos deben emparejarse.</p>
								<p>Algunos dispositivos Bluetooth requieren un PIN para realizar la conexión: si no sabe de qué se trata, consulte el manual del dispositivo.  </p>
								
								<h2>¿Para qué puedo usar Bluetooth?</h2>
								<h3>Para escuchar música</h3>
								<p>Uno de los usos más comunes de Bluetooth es conectar su teléfono inteligente a altavoces inalámbricos o auriculares. La ventaja de esto para los auriculares es que no necesita preocuparse de que los cables o cables se enreden o tiren; una de las razones por las que Bluetooth es particularmente útil para auriculares deportivos.</p>
								<p>También puede encontrar miles de parlantes Bluetooth potentes y pequeños que se adaptan a todas las necesidades, y estos pueden ser de gran utilidad en las fiestas domésticas cuando no quiera dejar su teléfono inteligente en un solo lugar bombeando música a lo largo de un cable.</p>
								<h3>Para auriculares manos libres</h3>
								<p>Hacer uso de auriculares manos libres es otro uso popular para Bluetooth. Puede conectar dispositivos pequeños intrauditivos a su teléfono inteligente para que pueda hacer llamadas de manera rápida y fácil sobre la marcha. </p>
								<h3>Para transferencia de archivos</h3>
								<p>Si se encuentra cerca de alguien a quien desea enviar archivos, puede usar Bluetooth para hacerlo. Esta es una buena idea para cuando necesita transferir tipos de archivos más grandes cuando se encuentra fuera del alcance de una señal de Wi-Fi. </p>
								<h3>Para manos libres en automóviles</h3>
								<p>También puedes encontrar Bluetooth en los autos. Sincronice su teléfono con su automóvil y puede realizar llamadas sin necesidad de tocar su teléfono inteligente.</p>
								<p>Las instrucciones para esta configuración dependerán del automóvil y del fabricante, pero en su teléfono debería simplemente tratarse de encontrar la identificación Bluetooth del automóvil en el menú de dispositivos Bluetooth.</p>
								
								<h2>¿Cuáles son los problemas comunes de Bluetooth?</h2>
								<p>El problema más común que tienen los usuarios con Bluetooth es que no se conecta a los dispositivos. Esto podría deberse a varios factores, pero generalmente se debe a la proximidad.</p>
								<p>A pesar de los reclamos del alcance de 200 pies de Bluetooth, en la práctica, generalmente es mucho menos que esto. Las paredes, las superficies y las interferencias eléctricas pueden limitarlo. Si tiene problemas para conectar dispositivos, antes que nada asegúrese de que ambos dispositivos tengan Bluetooth encendido y que estén cerca el uno del otro.</p>
								<p>Otro problema común es que los dispositivos no se encuentran o no se reconocen. En la mayoría de los casos, esto se cura simplemente reiniciando el dispositivo o activando y desactivando su función Bluetooth. Suena demasiado fácil, pero en general es la solución más efectiva.</p>

								
								<p>Cuando no estoy trabajando para encargos freelance me gusta <em>trastear</em> con otras tecnologías y lenguajes. A continuación expongo algunos mótivos por los que desarrollar proyectos propios puede acabar siendo rentable en muchos aspectos:</p>
								<h2 id="esdivertido">Es divertido</h2>
								<p>No hay nada cómo poder trabajar para uno mismo. Tu planificas tus horarios, nadie te supervisa, creas algo a tu gusto, tu decides que detalles son importantes y cuales no. Es una buena manera de probarse a uno mismo y conocer nuevas áreas.</p>
								<h2 id="aprendes">Aprendes</h2>
								<p>¿Cuál es la mejor forma de aprender una tecnología nueva como pueden ser Node o Django? ¿O usar una base de datos que no has usado nunca? En un proyecto de consultoría tradicional de traje y corbata ya te adelanto que no será. Prueba a hacer un “hola mundo” en un nuevo lenguaje para ti, después amplíalo, descubre que puedes hacer con esa nueva plataforma, lee documentación, etc. Juega con ello.</p>
								<h2 id="ganasexperiencia">Ganas experiencia</h2>
								<p>Imagina que al poco de haber hecho un pequeño proyecto en un lenguaje que hace unos meses ni conozcas, aparece ante tí una oferta de trabajo (ya sea freelance o contratado) ¡Ya tienes el primer paso dado! Sin apenas darte cuenta has ganado experiencia. Puede que an no seas experto, pero con el tiempo irás mejorando.</p>
								<h2 id="amplasportafolio">Amplías portafolio</h2>
								<p>Hoy en día da igual que tengas 2 carreras, 3 máster y 40 certificados. Incluso me atrevería a decir que ni siquiera que hayas trabajado X años en una empresa pueda servir dentro de un tiempo. Ahora prima más lo quá has hecho o sabes hacer qué lo que has estudiado. Ahora la gente quiere algo visible para saber si eres la persona que necesitan.</p>
								<p>Si haces un diseño, súbelo a <a href="http://dribbble.com/carlosazaustre">Dribbble</a>, si haces código, súbelo a <a href="http://github.com/carlosazaustre">GitHub</a>. Estos portales son ahora tanto o más importantes que un buen perfil en <a href="http://linkedin.com/in/carlosazaustre">Linkedin</a>.</p>
								<p>Esa es una de las razones por las que mi colega <a href="http://twitter.com/jorgeas80">Jorge</a> y yo desarrollamos&nbsp;<a href="http://pelitweets.com" title="Pelitweets | Microcríticas en 140 caracteres de las péliculas de estreno. Decide que película vas a ver al cine según la opinión de la red">Pelitweets</a>. No tenemos modelo de negocio definido y no esperamos ganar dinero por ahora. Después de un tiempo trabajando para empresas o clientes privados, tienes trabajo hecho que no puedes enseñar por contrato u otras razones y de esta manera amplias tu portafolio.</p>
								<h2 id="consiguesclientes">Consigues clientes</h2>
								<p>Cuando te inscribes a una oferta o te contacta alguien y te pide un portafolio, ahora ya tienes algo que poder enseñar, tuyo 100%. Es una manera de probar tanto tus conocimientos técnicos como tus habilidades. Has invertido tiempo en desarrollar tu proyecto, pero esa inversión puede verse amortizada con una buena oferta posterior.</p>
								<p>Por eso os animo a que invirtáis vuestro tiempo libre en aprender cosas nuevas y realizar pequeños proyectos propios, nunca se saber quién puede estar al otro lado viendo tu trabajo. ¿No crees?</p>
								
								<p>A continuación muestro algunas de las herramientas que utilizo en mi día a día como desarrollador web que me facilitan bastante la productividad y hacen que no pierda años de vida cada vez que tengo que realizar alguna tarea relacionada con mi trabajo.</p>
								<p>Primero de todo, decir que trabajo normalmente en un <a href="http://support.apple.com/kb/sp631">MacBook Air 13″</a> por lo ligero que es, lo poco que ocupa y su batería que después de 2 años que lo compré, sigue durando prácticamente 4 horas sin enchufe si no tengo ninguna película o video corriendo. Tiene 4GB de RAM, 128GB de SSD que para programar son suficientes y la velocidad que te ofrece el SSD lo merece (Para almacenar fotos, videos, imágenes pesadas, etc… utilizo un disco externo USB portátil). Obviamente el sistema operativo que uso es <a href="http://www.apple.com/ie/osx/">OS X Mountain Lion (10.8.4)</a>&nbsp;por lo que algunas de las herramientas que empleo únicamente sólo están disponibles para esta plataforma.</p>
								<p><img src="/blog/content/images/2015/02/Screen-Shot-2013-06-10-at-21_47_58_qxncj3.png" alt="MacBookAir"></p>
								<h4 id="herramientashabituales">Herramientas habituales</h4>
								<p><img src="/blog/content/images/2015/02/8251028685_c9f6cd4f72_z_cqdwwj.jpg" alt=""></p>
								<ul>
								<li>
								<p><strong>Editor de texto</strong>: <a href="http://www.sublimetext.com/">Sublime Text 2</a>, Multiplataforma. Escrito en Python. Muy rápido, y ligero. Contiene numerosos paquetes y funcionalidades que lo hacen ser EL EDITOR. Bien es cierto que si programas en Objective-C te es más útil XCode, y si lo haces para Android te sea mejor (aunque sea un dolor) utilizar Eclipse. Pero si te dedicas al desarrollo web, es lo mejor.</p>
								</li>
								<li>
								<p><strong>Cliente FTP</strong>: <a href="http://cyberduck.ch/">Cyberduck</a>, para Mac. Tiene una UI agradable y permite conexiones SFTP con archivos de clave secreta. Ideal si quieres acceder a un servidor creador en AWS.</p>
								</li>
								<li>
								<p><strong>Navegador Web</strong>: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>. Es mi navegador por defecto. Hace tiempo usaba Firefox por su consola firebug para depurar, pero ahora con chrome se puede hacer lo mismo gracias a sus extensiones de las que hablará más adelante en otra entrada</p>
								</li>
								<li>
								<p><strong>Servidor Web local</strong>: <a href="http://www.apachefriends.org/en/xampp.html">XAMPP</a>. Multiplaforma, ideal para montar un servidor Apache + PHP + MySQL local en pocos minutos. Incluye phpmyAdmin para gestionar la base de datos. Si tu proyecto utiliza alguna de estas tecnologías te lo recomiendo.</p>
								</li>
								<li>
								<p><strong>Comunicación</strong>: Utilizo varios:</p>
								<ul>
								<li><a href="http://skype.com">Skype</a> para conversaciones con una sola persona, normalmente para trabajos freelance con clientes extranjeros, son la mejor herramienta.</li>
								<li><a href="http://google.com/hangouts">Hangouts</a> si son con varias personas y puedes compartir escritorio,</li>
								<li>y <a href="http://hipchat.com">HipChat</a> de Atlassian, para equipos de trabajo de no más de 5 personas sale gratis.</li>
								</ul>
								</li>
								<li>
								<p><strong>Gestor de tareas</strong>: <a href="https://trello.com/">Trello</a>. Básico y muy simple pero muy útil. Multidispositivo</p>
								</li>
								<li>
								<p><strong>Repositorios y control de versiones</strong></p>
								<ul>
								<li><a href="http://github.com">GitHub</a>, para proyectos open source o colaborativos. Como cliente Desktop: <a href="http://mac.github.com/">GitHub for Mac</a></li>
								<li><a href="http://bitbucket.com">Bitbucket</a>, para proyectos privados (5 repositorios gratuitos). Como cliente Desktop: <a href="http://www.sourcetreeapp.com/">Sourcetree</a></li>
								</ul>
								</li>
								<li>
								<p><strong>Tratamiento de imágenes</strong>:<br>
								<a href="http://www.photoshop.com/"> Photoshop CS6</a>, desde los 15 años usando esto :)</p>
								</li>
								<li>
								<p><strong>Manejo de archivos</strong></p>
								<ul>
								<li><a href="https://www.dropbox.com/">Dropbox</a>, genial para compartir documentos e imágenes entre miembros del equipo</li>
								<li><a href="http://drive.google.com">Google Drive</a>, perfecto para guardar ideas, escribir documentación y modificar en linea con otros miembros del equipo. Te olvidas de tener documentos en tu ordenador con mútltiples versiones. A si los tienes siempre a mano y en cualquier dispositvo y cuando quieras (siempre que tengas conexión a mano).</li>
								</ul>
								</li>
								<li>
								<p><strong>Diseño de Mockups y Wireframes</strong>:<br>
								<a href="https://moqups.com/">Moqups</a>: Excelente herramienta para realizar Mockups de una manera sencilla y rápida, se integra con Google Drive.</p>
								</li>
								<li>
								<p><strong>Virtualización</strong>: <a href="http://www.parallels.com/">Parallels 8</a>, De pago. Funciona realmente bien en Mac. Suelo tener alguna distribución Linux (Ubuntu) y copia de Windows XP para probar rarezas.</p>
								</li>
								</ul>
								<p>En próximas entradas hablaré de las herramientas y tecnologías más útiles especializadas y enfocadas al desarrollo web que suelo utilizar.</p>
								
								
																
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">animation</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">canvas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">slideshow</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Stay connected with us:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
			
			<div class="ct-inner ct-cf">
				<nav class="ct-cf">
					<ul>
						<li><a href="/">Tutoriales</a></li>
						<li><a href="/">Articulos</a></li>
						<li><a href="/">Herramientas</a></li>
						<li><a href="/">Experimentos</a></li>
						<li><a href="/">Experiencias</a></li>
					</ul>
					<ul>
						<li><a href="/">News</a></li>
						<li><a href="/">Giveaways</a></li>
						<li><a href="/">Freebies</a></li>
						<li><a href="/">Collective</a></li>
					</ul>
					<ul>
						<li><a href="/">About</a></li>
						<li><a href="/">Contact</a></li>
						<li><a href="/">Archives</a></li>
						<li><a href="/">Deals</a></li>
					</ul>
					<ul>
						<li><a href="/">Advertencia</a></li>
						<li><a href="/">Política de Privacidad</a></li>
						<li><a href="/">Licencia</a></li>
						<li><a href="/">Creditos</a></li>
					</ul>
				</nav>
				<div class="ct-items ct-cf">
					<div class="ct-item ct-copyright">
						<span>© 2018 ayudaparamiweb.com</span> 
						<a href="http://www.ayudaparamiweb.com/" title="Ayuda para mi Web">Ayuda para mi Web</a>
					</div>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
