<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Contador de Caracteres SEO | Ayuda para mi Web</title>
		<meta name="description" content="Hoy en día, tener un contador de número de caracteres que se introducen en el título y la descripción de una página web es fundamental para el SEO On Page." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-1" itemscope="" itemtype="http://schema.org/Article" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										  <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										  <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										  <meta itemprop="width" content="36">
										  <meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										en 
										<a href="http://www.ayudaparamiweb.com/">Herramientas</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2018-02-14">14/02/2018</time> 
										<strong>6</strong> votos. Media: <strong>4.2</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4.2">
												<meta itemprop="ratingCount" content="6">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Contador de Caracteres SEO</h1>
							</header>
							<div class="ct-post-content">
							
								<div class="ct-post-excerpt" itemprop="description">Hoy en día, tener un contador de número de caracteres que se introducen en el título y la descripción de una página web es fundamental para el SEO On Page.</div>
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/contador-caracteres-seo.png" alt="Imagén sobre el Contador de Caracteres SEO"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/contador-caracteres-seo.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="200">
								</div>
								
								<h2>Contador de Caracteres Meta-Title</h2>
								<p>En SEO un buen título de página es fundamental. Es muy importante usar la palabras claves en el título y asegurarse de que sea relevante al tema a tratar en el contenido.</p> 
								<p>Google utiliza un máximo de 70 caracteres para los resulados de búsqueda. Ser claro y conciso en el titulo del tema a tratar es importantisimo. Mi recomendación es utilizar entre 60-67 caracteres para las búsquedas de Google.</p>
								
								<textarea name="message" onkeyup="countCharsTit(this);"></textarea>
								<p id="charNumTit">67 caracteres restantes</p>
								
								<h2>Contador de Caracteres Meta-Description</h2>
								<p>Para la meta-descripción, Google solo muestra 160 caracteres. Mi recomendación es que la meta-descripción sea entre 150-155 caracteres. Incluya también palabras clave en la meta-descripción.</p>
																							
								<textarea name="message" onkeyup="countCharsDesc(this);"></textarea>
								<p id="charNumDesc">155 caracteres restantes</p>
								
								<script>
								function countCharsTit(obj){
									var maxLength = 67;
									var strLength = obj.value.length;
									var charRemain = (maxLength - strLength);
									
									if(charRemain < 0){
										document.getElementById("charNumTit").innerHTML = '<span style="color: red;">Has superado el límite de '+maxLength+' caracteres</span>';
									}else{
										document.getElementById("charNumTit").innerHTML = charRemain+' caracteres restantes';
									}
								}
								function countCharsDesc(obj){
									var maxLength = 155;
									var strLength = obj.value.length;
									var charRemain = (maxLength - strLength);
									
									if(charRemain < 0){
										document.getElementById("charNumDesc").innerHTML = '<span style="color: red;">Has superado el límite de '+maxLength+' caracteres</span>';
									}else{
										document.getElementById("charNumDesc").innerHTML = charRemain+' caracteres restantes';
									}
								}
								</script>
								<style>
									textarea {
										height: 5em;
										width: 100%;
										max-width: 100%;
										margin-bottom: 5px;
										font-size: 1.15em;
										font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
									}
								</style>
																
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">Herramientas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">SEO</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">Contador</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<% include ../authors/sucender-short.ejs %>
						</div>

						<div class="ct-row-wrapper">
							<div class="ct-row">
							
								<div class="ct-sharing ct-box">
									<h4>Stay connected with us:</h4>
									<div class="ct-link-list">
										<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
										<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
										<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
										<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									</div>
								</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
						
						
					</div>
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
				
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
