<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>SEO On Page, aspectos técnicos | Ayuda para mi Web</title>
		<meta name="description" content="Los algoritmos de los motores de búsqueda han recorrido un largo camino y se han vuelto más sofisticados a partir de los tiempos en que el contenido, los títulos y las descripciones llenas de palabras clave eran suficientes para alcanzar altos rankings en los resultados de búsqueda." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-10" itemscope="" itemtype="http://schema.org/Article" class="post-10 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										  <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										  <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										  <meta itemprop="width" content="36">
										  <meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										in 
										<a href="http://www.ayudaparamiweb.com/">Tutorials</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2019-03-15">2019/03/15</time> 
										<strong>4</strong> votos. Media: <strong>4.2</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4.2">
												<meta itemprop="ratingCount" content="4">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">SEO On Page, aspectos técnicos</h1>								
							</header>
							
							<div class="ct-post-content">
							
								<div class="ct-post-excerpt" itemprop="description">Los algoritmos de los motores de búsqueda han recorrido un largo camino y se han vuelto más sofisticados a partir de los tiempos en que el contenido, los títulos y las descripciones llenas de palabras clave eran suficientes para alcanzar altos rankings en los resultados de búsqueda.</div>
								
                				<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/seo-on-page-aspectos-tecnicos.png" alt="Imagén sobre SEO On Page"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/seo-on-page-aspectos-tecnicos.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="500">
								</div>
								
								<p>Si quieres aprender SEO en 2019, no puedes quedarte atascado en el pasado. Una de las mayores mejoras de los motores de búsqueda es que consideran el factor humano, es decir, el compromiso del usuario.</p>
								<blockquote>
									<p>No olvide que el SEO tiene que ver con personas reales, no solo con motores de búsqueda.</p>
								</blockquote>
								
								<h2>Etiquetas meta</h2>
								<p>Las etiquetas meta son una parte del código HTML. Describen el contenido del sitio web. Los más importantes son los meta títulos y las meta descripciones.</p>
								<p>Para obtener información detallada, asegúrese de leer las definiciones y las sugerencias de optimización avanzada en nuestro SEOpedia tanto para las etiquetas de título como para las meta descripciones.</p>
								<p>No son tan importantes como solían ser desde el punto de vista técnico.</p>
								<p><strong>Los títulos y descripciones de los metadatos llenos de palabras clave no influyen directamente en sus clasificaciones, PERO son un factor psicológico importante que afecta el CTR y el compromiso general del usuario.</strong></p>
								<p>Así que no te confundas con los blogs que dicen que las etiquetas de título y las meta descripciones no son importantes en absoluto. Por otro lado, tenga en cuenta que Google cambia los títulos y las descripciones para indicar mejor su relevancia para la consulta de búsqueda en caso de que su texto no coincida lo suficiente.</p>
								<p>Existen muchas herramientas y complementos (p <a href="https://srd.wordpress.org/plugins/wordpress-seo/" target="_blank" rel="noopener">.</a> Ej., <a href="https://srd.wordpress.org/plugins/wordpress-seo/" target="_blank" rel="noopener">Yoast para WordPress</a> en la captura de pantalla a continuación) que analizan su contenido en términos de uso de palabras clave de enfoque en el título del meta, descripción del meta, encabezados, densidad de palabras clave en general, atributos de imagen alternativa y otros.</p>
								<p>Ofrecen muchos consejos, pero apenas pueden seguir el algoritmo de Google que se centra en la experiencia del usuario. Asegúrese de tener en cuenta tanto los puntos de vista técnicos como la experiencia del usuario al crear etiquetas meta.<em><br /></em></p>
								
								<h2>Lista de verificación de SEO en la página</h2>
								<p>Comencemos con las cosas que puede hacer en WordPress o en cualquier otro sistema de administración de contenido.</p>
								<h3>1. Averigüe qué buscan las personas antes de comenzar a escribir.</h3>
								<p><em>¿Planeas escribir sobre un tema que la gente busca? ¿Estás seguro de que tu punto de vista es diferente, único? ¿Puedes ofrecer un nuevo valor añadido al tema? ¿Es su momento correcto?</em></p>
								<p>Estas son las preguntas más importantes antes de comenzar a escribir y no importa si se trata de un blog o de una página de destino del producto. Hay muchas maneras de saberlo. La investigación de palabras clave es una parte inevitable de ella. Hablamos sobre cómo hacer una investigación de palabras clave en el capítulo 5.</p>
								<h3>2. Etiquetas de título y titulares</h3>
								<p>Crear una etiqueta de título atractiva, meta descripción y titulares. Tenga en cuenta lo que mencionamos anteriormente. Su palabra clave de enfoque principal aún debería estar allí, para que los usuarios sepan de qué se trata su sitio web. Utilice la descripción meta como una gran oportunidad para el énfasis de la llamada a la acción (CTA).</p>
								<p>Persuadir tanto a los usuarios como a los motores de búsqueda de que se haga clic en su sitio web.</p>
								<p><em>Una vez más, piense en el compromiso del usuario, así que no exagere usando palabras baratas o demasiado cursis. Mire a sus competidores, analice lo que funciona para ellos y cree su propia estrategia.</em></p>
								<div>
								<div class="uk-flex uk-flex-middle uk-flex-space-between">
								<div class="uk-flex uk-flex-middle">
								<div class="mg__padding-0-30 mg__padding-15-0"><span class="mg__label is--orange is--small font-12">Otras lecturas</span>
								<div class="font-24 uk-text-bold color-black mg__margin-t-5 ln-11">Top 11 errores al crear etiquetas de título</div>
								</div>
								</div>
								</div>
								</div>
								<p><strong>Consejos rápidos:</strong></p>
								<ul>
								<li>Google mostrará los títulos si tienen hasta 70 caracteres y meta descripciones de hasta 155 caracteres (actualizado en mayo de 2018)</li>
								<li>Asegúrese de usar la estructura correcta &lt;h1&gt;, &lt;h2&gt;, &lt;h3&gt;, ... para una buena legibilidad y estructura</li>
								<li>Verifique la vista previa de los resultados de búsqueda en herramientas como los complementos <a href="http://seositecheckup.com/tools/google-search-results-preview" target="_blank" rel="noopener">SEOSiteCheckup</a> o WordPress</li>
								</ul>
								<h3>3. Utiliza URLs amigables para SEO</h3>
								<p>Evite utilizar URL generadas automáticamente con figuras y caracteres:</p>
								<pre>www.example.com/2017/post318e7a349f6</pre>
								<p>Utilice las URL correspondientes a su contenido y su título:</p>
								<pre>www.example.com/how-to-bake-pizza</pre>
								<p>Si usa WordPress, puede establecer permalinks en configuraciones comunes.</p>
								<p>Algunos especialistas en SEO y bloggers dicen que las URL cortas se clasifican mejor en Google. Creemos que es una cuestión de la experiencia del usuario. Por supuesto, esto no significa que una URL de 20 palabras esté bien.</p>
								<h3>4. multimedia</h3>
								<p>¿Quieres atraer a tus visitantes? Usa imágenes, infografías, cuadros y videos. Conducen a tasas de rebote más bajas y un mayor compromiso. Algunas cosas tienen que ser escritas de la manera tradicional, pero los multimedia son una necesidad.</p>
								<p>La transmisión de videos ha sido una de las tendencias de marketing más recientes en los últimos años. Además, motivan a las personas a que les guste, compartan o comenten tu contenido.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>Optimice las imágenes usando nombres de archivos relevantes <em>(how-to-bake-pizza.jpg)</em> , atributos de imagen alt y tamaño de archivo</li>
								<li>Incrustar multimedia interactiva como videos o gráficos</li>
								<li>No olvide incluir transcripciones para no perder palabras clave importantes (los rastreadores no pueden "leer" el video)</li>
								</ul>
								<h3>5. Enlaces salientes e internos.</h3>
								<p>El uso de enlaces salientes da una señal de relevancia de su tema a Google. Asegúrese de enlazar a fuentes relevantes y autorizadas.</p>
								<p>Los enlaces internos son una forma perfecta de promocionar tus otros artículos o secciones de sitios web. Hace que sea más fácil visitarlos y lleva a un mayor compromiso. La vinculación interna también ayuda a los robots a comprender la estructura del sitio web.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>Es posible que los enlaces salientes no mejoren directamente sus clasificaciones, sin embargo, es muy recomendable utilizarlos</li>
								<li>Use hasta 2-3 enlaces internos, dependiendo de la longitud del contenido</li>
								<li>Los rastreadores de los motores de búsqueda analizan estos enlaces, así que no intente hacer trampa y tener cuidado con los enlaces rotos</li>
								</ul>
								<h3>6. Deja que la gente se involucre</h3>
								<p>El gran contenido se comparte. Sí, tal vez en el pasado. La gente es perezosa en estos días, por lo que los botones de compartir siempre deben estar en su sitio web. Según BuzzSumo, el intercambio social se redujo a la mitad desde 2015.</p>
								<p>Además de Facebook, Twitter o Linkedin, considere agregar redes sociales específicas y relacionadas con el tema, como Reddit o Pinterest.</p>
								
								<h2>Lista de verificación técnica en la página de SEO</h2>
								<p>Podemos clasificar el SEO técnico como una parte del SEO en la página que trata con cosas más técnicas. Por lo general, exige habilidades de desarrollo o un desarrollador web.</p>
								<h3>1. Consola de búsqueda</h3>
								<p><a href="https://support.google.com/webmasters/answer/4559176?hl=en" target="_blank" rel="noopener">La Consola de búsqueda de Google</a> (herramientas para webmasters) es uno de los conceptos básicos de SEO. Le ayuda a controlar y mantener la presencia de su sitio en los resultados de búsqueda de Google.</p>
								<p>Eso incluye el envío de contenido para el rastreo, la elección de lo que desea indexar y lo que no, los errores del sitio, los datos estructurados o los errores de código.</p>
								<p>La Consola de búsqueda le ayudará a analizar las clasificaciones de sus palabras clave, los CTR, las posibles penalizaciones de Google y muchos otros datos útiles para el SEO técnico.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>Cada propiedad (sitio web) debe ser verificada para usar las características de la consola de búsqueda</li>
								<li><a href="https://support.google.com/analytics/answer/1308621?hl=en" target="_blank" rel="noopener">Conecta la consola de búsqueda con Google Analytics</a></li>
								</ul>
								<h3>2. velocidad del sitio web</h3>
								<p>La velocidad del sitio web es uno de los factores de clasificación. Sitio web lento hace que la gente se vaya. Se sabe que el <a href="https://blog.kissmetrics.com/speed-is-a-killer/" target="_blank" rel="noopener">50% de los usuarios de la web</a> esperan que un sitio se cargue en 2 segundos o menos. Si no se carga en 3 segundos, se irán.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>Prueba la velocidad en <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" rel="noopener">PageSpeed ​​Insights</a></li>
								<li>Optimice las imágenes, habilite la compresión GZIP, la compresión HTML, la minificación JS y CSS y trate de disminuir el tiempo de respuesta del servidor</li>
								<li>El alojamiento web de calidad juega un papel importante en la velocidad del sitio web, así que asegúrese de seleccionar un proveedor confiable</li>
								</ul>
								<h3>3. Optimización móvil</h3>
								<p>La optimización móvil es una necesidad. El mundo está cambiando de escritorio a móvil. De hecho, la ejecución de un sitio web que no esté optimizado para dispositivos móviles influirá negativamente en sus clasificaciones.</p>
								<p><a href="https://webmasters.googleblog.com/2018/03/rolling-out-mobile-first-indexing.html" target="_blank" rel="noopener">Google comenzó a implementar</a> la primera indexación móvil en marzo de 2018. La indexación móvil primero significa que Google usará la versión móvil de su sitio web para la indexación y la clasificación.</p>
								<p>También puede considerar el AMP (Páginas Móviles Aceleradas). AMP es un código HTML extendido con propiedades personalizadas que permiten representar rápidamente el contenido estático. En 2017, fue uno de los principales proyectos de búsqueda móvil de Google. Veremos si hay algún futuro para esto.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>Pruebe la capacidad de respuesta de su sitio web en el  <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" rel="noopener">Test para dispositivos móviles</a></li>
								<li>Controle su clasificación de palabras clave en los resultados de búsqueda móvil</li>
								<li>Asegúrese de que la versión móvil de su sitio web funciona como un encanto</li>
								</ul>
								<h3>4. Sitemap</h3>
								<p>Un mapa del sitio ayuda a los motores de búsqueda a rastrear su contenido. Es un archivo donde se enumeran todas las secciones del sitio web. Es bueno tener uno, especialmente cuando ejecuta un sitio web grande con una estructura complicada o cuando usa contenido multimedia enriquecido.</p>
								<div>
								<div class="uk-flex uk-flex-middle uk-flex-space-between">
								<div class="uk-flex uk-flex-middle">
								<div class="mg__padding-0-30 mg__padding-15-0"><span class="mg__label is--orange is--small font-12">Otras lecturas</span>
								<div class="font-24 uk-text-bold color-black mg__margin-t-5 ln-11">Qué tener en cuenta al crear un mapa del sitio</div>
								</div>
								</div>
								</div>
								</div>
								<p>Tener un mapa del sitio no significa que tus rankings mejorarán. Según Google, es un beneficio, pero nunca serás penalizado por no tener uno.</p>
								<p>Consejos rápidos:</p>
								<ul>
								<li>No todos los sitios web necesitan un sitemap</li>
								<li>El Sitemap no debe contener más de 50,000 URL y no puede exceder los 50 MB</li>
								<li>Coloque el mapa del sitio en el directorio raíz del sitio web:</li>
								</ul>
								<pre>https://example.com/sitemap.xml</pre>
								<h3>5. Robots.txt</h3>
								<p>Robots.txt es un archivo que le dice a los rastreadores a qué secciones del sitio web no desea acceder. Se encuentra en  <em>https://example.com/robots.txt</em> y es público.</p>
								<p>Es útil cuando no desea que se indexen algunos scripts, archivos innecesarios o imágenes.</p>
								<p>Sintaxis de robots.txt:</p>
								<pre>Usuario-agente: * (por ejemplo, Googlebot)

								No permitir: /   (por ejemplo, /images/pizza.png)</pre>
								<p>Consejos rápidos:</p>
								<ul>
								<li>No use robots.txt para ocultar el contenido de los motores de búsqueda</li>
								<li>Los robots infractores o malintencionados pueden ignorar robots.txt</li>
								</ul>
								
								<h2>Otros hacks técnicos de SEO</h2>
								<p><a href="http://seositecheckup.com/" target="_blank" rel="noopener">SEOSiteCheckup</a> es una gran herramienta para el análisis de SEO en la página. Puede analizar una URL por día y descargar un informe en PDF sin registrarse.</p>
								<div>
								<div class="uk-flex uk-flex-middle uk-flex-space-between">
								<div class="uk-flex uk-flex-middle">
								<div class="mg__padding-0-30 mg__padding-15-0"><span class="mg__label is--orange is--small font-12">Otras lecturas</span>
								<div class="font-24 uk-text-bold color-black mg__margin-t-5 ln-11">Cómo realizar una auditoría SEO en la página en 15 minutos</div>
								</div>
								</div>
								</div>
								</div>
								<p>Use el <a href="https://support.google.com/tagmanager/answer/6103576?hl=en&ref_topic=3441530" target="_blank" rel="noopener">Administrador de etiquetas de Google</a> para la administración avanzada de etiquetas, por lo que no necesita ayuda de los desarrolladores web.</p>
								<p>HTTPS frente a HTTP: en 2014, Google anunció que aumentarán las clasificaciones de los sitios web de HTTPS / SSL. Hoy, sabemos que es un factor de clasificación ligero que influye en un pequeño porcentaje de consultas de búsqueda.</p>
								<p>Sin embargo, la seguridad es un factor psicológico fuerte. Google Chrome, por ejemplo, etiqueta un sitio web que no está cifrado con SSL como "no seguro", lo que influye en el compromiso del usuario.</p>
								<p>Canonicalización de URL / IP: la canonicalización de IP es importante cuando un sitio web está indexado tanto con su dirección IP como con su nombre de dominio. La canonicalización de URL significa que:</p>
								<pre>https://example.com y https://www.example.com/ deben resolverse en la misma URL
								</pre>
								
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">SEO</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>