<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Investigación de Palabras Clave | Ayuda para mi Web</title>
		<meta name="description" content="La investigación de palabras clave definitivamente pertenece a los conceptos básicos de SEO. En este artículo, aprenderás a cómo encontrar tu nicho y cómo encontrar palabras clave rentables para las que pueda clasificar." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-12" itemscope="" itemtype="http://schema.org/Article" class="post-12 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										<meta itemprop="width" content="36">
										<meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										en 
										<a href="http://www.ayudaparamiweb.com/">Articulos</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2019-03-26">26/03/2019</time> 
										<strong>1</strong> votos. Media: <strong>5</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="5">
												<meta itemprop="ratingCount" content="1">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Investigación de Palabras Clave</h1>
							</header>		
							<div class="ct-post-content">
								
								<div class="ct-post-excerpt" itemprop="description">La investigación de palabras clave definitivamente pertenece a los conceptos básicos de SEO. En este artículo, aprenderás a cómo encontrar tu nicho y cómo encontrar palabras clave rentables para las que pueda clasificar.</div>
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/investigacion-palabras-clave.png" alt="Imagén sobre Contenido y SEO"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/investigacion-palabras-clave.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="500">
								</div>

								<p>Crear contenido sin hacer previamente una investigación de palabras clave, no da resultado. Su contenido no se optimizará por lo que el tráfico del sitio web sufrirá. Simplemente tiene que saber qué palabras clave orientar para generar suficiente tráfico de calidad.</p>
								<p>Antes de comenzar, aquí hay tres aspectos que dan forma a la investigación de palabras clave en estos días:</p>
								
								<h2>1. Cambios en Google Keyword Planner</h2>
								<p>Los cambios en Google Keyword Planner (GKP) que ocurrieron en 2016 causaron un terremoto en el mercado de herramientas de investigación de palabras clave. GKP se volvió inútil para muchos usuarios porque dejó de mostrar volúmenes de búsqueda exactos para los usuarios que no gastan suficiente dinero en sus AdWords.</p>
								<p>En marzo de 2018, Google anunció que desactivaría las cuentas de AdWords sin gastos durante los últimos 15 meses. Aproximadamente al mismo tiempo, se lanzó una nueva versión de GKP que trae algunas mejoras interesantes tanto para SEO como para PPC.</p>

								<h2>2. Optimización de palabras clave sobre el compromiso del usuario.</h2>
								<p>En el pasado, los creadores de contenido investigaban las palabras clave solo para encontrar las palabras clave con altos volúmenes de búsqueda. Los metieron en el contenido para engañar a los algoritmos del motor de búsqueda y garantizar altos rankings en la búsqueda orgánica. ¡Esto ya no ayuda porque la investigación de palabras clave se ha vuelto mucho más compleja!</p>
								<p>En estos días tiene que trabajar con más métricas, considere el algoritmo de RankBrain de Google y el SERP real en el que planea clasificar.</p>
								
								<h2>3. El algoritmo de Google RankBrain</h2>
								<p>Google RankBrain, a diferencia de los algoritmos más antiguos,  comprende 2 cosas:</p>
								<ol>
									<li>Cómo interactúan los usuarios con los resultados de búsqueda orgánicos.</li>
									<li>¿Cuál es la intención de búsqueda (puede mostrar resultados casi idénticos para diferentes palabras clave de cola larga si la intención es la misma)?</li>
								</ol>
								<p>Google RankBrain había existido durante un par de años, pero tomó algún tiempo hasta que se implementó por completo. En 2015, Google anunció que RankBrain es la tercera <a href="https://www.bloomberg.com/news/articles/2015-10-26/google-turning-its-lucrative-web-search-over-to-ai-machines" target="_blank" rel="noopener">señal de clasificación</a> más importante <a href="https://www.bloomberg.com/news/articles/2015-10-26/google-turning-its-lucrative-web-search-over-to-ai-machines" target="_blank" rel="noopener">.</a></p>
								<p>Es un algoritmo de aprendizaje automático que ordena los resultados de búsqueda al comprender las consultas de búsqueda y medir el nivel de participación del usuario .</p>
								<h2>Volumen de búsqueda, palabras clave de cola larga y dificultad de palabras clave</h2>
								<p>Palabras clave relevantes de larga cola con altos volúmenes de búsqueda y baja dificultad de palabras clave: una combinación ideal de los tres factores más importantes de la investigación de palabras clave. Desafortunadamente, no siempre es tan fácil y necesita buscar un equilibrio entre estos factores.</p>
								<p>Tenga en cuenta que no debe centrarse únicamente en la cantidad de personas que buscan la palabra clave principal. Eso es porque su sitio web comenzará a clasificar en muchos términos relacionados.</p>
								<h3>Palabras clave de cola larga vs. volúmenes de búsqueda</h3>
								<p>En busca de las palabras clave de cola larga o media cola es donde debe comenzar. Si ejecuta un blog sobre recetas de pizza, ¿le gustaría clasificar # 1 para la palabra clave “pizza” (con más de 4 millones de búsquedas mensuales a nivel mundial)? Nosotros no Mira el SERP para la palabra clave.</p>
								<p>No tendría sentido estar allí a menos que planee competir con Pizza Hut o Domino's. Sí, este tipo de palabras clave son muy atractivas, pero en la mayoría de los casos, no son relevantes para su nicho. Además, representan solo algunas de las búsquedas en todo el mundo. La mayoría de las búsquedas son consultas de larga cola.</p>
								<p>Las palabras clave de cola larga tienen volúmenes de búsqueda más bajos, pero hay miles que representan la oportunidad para usted. Cuéntalos y verás su enorme potencial.</p>
								<p>Los visitantes que lo encuentren a través de palabras clave de cola larga se involucrarán mucho más con su contenido y sus tasas de conversión son más altas . Es porque la consulta es lo suficientemente específica como para encontrar resultados relevantes. Y desea estar en la cima de estos resultados relevantes.</p>
								<p>La mayor estafa de las palabras clave de cola larga es su volumen de búsqueda. A veces, puede ser tan bajo como 100 búsquedas por mes. Es por eso que necesita encontrar el equilibrio adecuado y la métrica llamada dificultad de palabras clave lo ayudará a lograrlo.</p>
								<h3>Dificultad de palabras clave</h3>
								<p>Una vez que encuentre las palabras clave para las que desea clasificar, deberá evaluar qué tomaría. La dificultad de palabra clave o dificultad de SEO de palabra clave es una métrica muy útil para la investigación de palabras clave.</p>
								<p>El valor generalmente se indica en una escala de 0 a 100. Cuanto más alto es el puntaje, más difícil es clasificar en el primer SERP para la palabra clave.</p>
								<p>Existen muchas herramientas de investigación de palabras clave en el mercado que calculan la dificultad de las palabras clave. Los valores pueden variar: puede ver el puntaje 30 en una herramienta y 50 en otra para exactamente la misma palabra clave.</p>
								<p>Esto se debe a que los cálculos se basan en métricas y algoritmos ligeramente diferentes. Lo importante es comparar los resultados dentro de una herramienta.</p>
								
								<h2>Análisis SERP</h2>
								<p>El análisis SERP es una parte muy importante de una investigación de palabras clave. Te ayuda a descubrir si:</p>
								<ol>
									<li>Las palabras clave que desea optimizar son relevantes.</li>
									<li>Eres capaz de competir con sitios web en el 1er SERP</li>
								</ol>
								<p>Al mirar el SERP puede identificar cuál es la intención detrás de la consulta de búsqueda. Cuando está buscando una "receta de pizza hecha en casa", probablemente no quiera comprar una pizza.</p>
								<p>Siempre ten esto en cuenta para no terminar optimizando las palabras clave incorrectas.</p>
								<p>Hemos grabado un video para mostrarle cómo encontrar palabras clave de cola larga con baja dificultad de SEO:</p>
								
								<h2>Consejos adicionales para la investigación de palabras clave de Google RankBrain</h2>
								<ul>
									<li>Optimice las palabras clave de cola media y larga que no superen las 4 o 5 palabras.</li>
									<li>Asegúrese de que su sitio satisfaga perfectamente las necesidades de los usuarios. El tiempo de permanencia (pogo pegado) no es un factor de clasificación. Parece que Google no se toma el tiempo invertido en el sitio web antes de volver a considerar el SERP. Es justo, ya que no es suficiente decidir la calidad y relevancia del resultado de la búsqueda.</li>
									<li>Cree etiquetas de título y meta descripciones atractivas y bien optimizadas para aumentar el CTR desde la búsqueda orgánica</li>
								</ul>
								
								<h2>Cómo encontrar más temas de nicho</h2>
								<p>Además de las herramientas de investigación de palabras clave, encontrará una gran cantidad de temas e ideas de palabras clave utilizando las siguientes fuentes:</p>
								<ul>
									<li>Quora</li>
									<li>Reddit</li>
									<li>foros relacionados con la industria</li>
									<li>otros blogs</li>
									<li>contenido de competidores</li>
									<li>Autocompletar de Google</li>
									<li>comentarios de los lectores</li>
								</ul>
								<p>Para mantener su investigación organizada, escriba los temas. Analízalos en las herramientas y encontrarás muchas palabras clave relevantes. Cuantas más palabras clave tenga, más podrá analizar y luego elegir las ideas rentables.</p>
								
								<blockquote>
								<p><em>Tenga en cuenta que no debe optimizar docenas de palabras clave en una sola página de destino.</em></p>
								</blockquote>
								<p>También puede probar el potencial de una palabra clave que actualmente no está clasificando en una campaña de Google AdWords. Pruebe varias coincidencias de palabras clave para obtener más ideas para palabras clave de cola larga.</p>
								<h3>Palabras clave de LSI</h3>
								<p>Las palabras clave LSI (Latent Semantic Indexing) son palabras clave que están relacionadas semánticamente con la palabra clave principal. Son un gran complemento para la investigación de palabras clave. No se basan en ninguna métrica de SEO.</p>
								<p>Las palabras clave de LSI cambian todo el tiempo según la tendencia actual. Añadir palabras clave semánticas a tu contenido es una buena idea. Puede utilizar <a href="http://lsigraph.com/" target="_blank" rel="noopener">LSIGraph</a> para generar un montón de ideas de palabras clave beneficiosas.</p>
								
								<h2>Cómo NO hacer investigación de palabras clave</h2>
								<p>Los novatos y los creadores de contenido impacientes suelen hacer esto:</p>
								<ol>
								<li>Seleccione una palabra clave que pueda ser buscada.</li>
								<li>Verifique su volumen de búsqueda en Google Keyword Planner o en cualquier otra herramienta de búsqueda de palabras clave sin pensar en otras métricas.</li>
								<li>Elija una o unas pocas palabras clave que de alguna manera piensen que están bien y colóquelas en el encabezado, subtítulos, cada párrafo y metaetiquetas.</li>
								</ol>
								<p>El hecho es que están equivocados! Pero no crees contenido a propósito.</p>
								<p>Otro error es la mala interpretación de los datos. Un ejemplo común es la puntuación de "Competencia" en el Planificador de palabras clave de Google. Hay una confusión entre esta métrica y la dificultad de la palabra clave.</p>
								<p>La competencia en GKP representa el nivel de competencia en Google AdWords. No representa lo difícil que es clasificar para esa palabra clave.</p>
								
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">animation</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">canvas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">slideshow</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>