<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>Entornos Colaborativos | Ayuda para mi Web</title>
		<meta name="description" content="¿Qué son los entornos colaborativos?¿En que pueden ayudar a mi empresa?" />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-9" itemscope="" itemtype="http://schema.org/Article" class="post-9 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header itemscope="" itemtype="http://schema.org/Article">
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
										  <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
										  <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
										  <meta itemprop="width" content="36">
										  <meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										in 
										<a href="http://www.ayudaparamiweb.com/">Tutorials</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2022-02-10">11/02/2022</time> 
										<strong>4</strong> votos. Media: <strong>4</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4">
												<meta itemprop="ratingCount" content="4">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">Entornos Colaborativos</h1>	
							</header>

							<div class="ct-post-content">

								<div class="ct-post-excerpt" itemprop="description">Los entornos colaborativos pueden llegar a ser utiles para una website.</div>
							
								<div class="bg-img bg-purple" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">	
									<img src="img/articulo/entornos-colaborativos.png" alt="Imagén sobre los entornos colaborativos"/>
									<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/entornos-colaborativos.png">
									<meta itemprop="width" content="800">
									<meta itemprop="height" content="500">
								</div>
								
								
								
<p>El <a href="https://www.iebschool.com/blog/que-es-seo-social-y-como-puede-ayudar-a-mi-estrategia-de-seo-sem/" data-type="post" data-id="17023">SEO</a> se ha vuelto imprescindible para las marcas, empresas y organizaciones para posicionarse en las primeras entradas de los <a href="https://www.iebschool.com/blog/buscadores-alternativos-a-google-business-tech-tecnologia/" data-internallinksmanager029f6b8e52c="94" title="Buscadores de Internet: qué son y los más utilizados" target="_blank" rel="noopener">buscadores</a>, y así aumentar el tráfico a sus páginas web. A continuación, os mostramos las <strong>20 mejores herramientas SEO gratuitas</strong> que puedes utilizar para mejorar la visibilidad de tu sitio web y atraer más visitas que nunca, ¡no te lo pierdas!</p>



<p><strong>Te puede interesar</strong>: <strong><a rel="noreferrer noopener" href="https://www.iebschool.com/programas/master-sem-ppc-marketing-buscadores/?utm_source=blog&amp;utm_medium=enl&amp;utm_campaign=post&amp;utm_content=MSEM" target="_blank">Master en SEO</a></strong></p>



<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="rll-youtube-player" data-src="https://www.youtube.com/embed/79T64JR5FEA" data-id="79T64JR5FEA" data-query="feature=oembed"><div data-id="79T64JR5FEA" data-query="feature=oembed" data-src="https://www.youtube.com/embed/79T64JR5FEA"><img data-lazy-src="https://i.ytimg.com/vi/79T64JR5FEA/hqdefault.jpg" alt="" width="480" height="360" data-ll-status="loaded" class="entered lazyloaded" src="https://i.ytimg.com/vi/79T64JR5FEA/hqdefault.jpg"><noscript><img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"></noscript><button class="play" aria-label="play Youtube video"></button></div></div><noscript><iframe title="Herramientas de anal&iacute;tica para SEO - Aina-Lluna Taylor #SEOday" width="960" height="540" src="https://www.youtube.com/embed/79T64JR5FEA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></noscript>
</div></figure>



<div id="ez-toc-container" class="ez-toc-v2_0_17 counter-hierarchy counter-decimal ez-toc-grey">
<div class="ez-toc-title-container">
<p class="ez-toc-title">Índice de contenidos</p>
<span class="ez-toc-title-toggle"><a class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle" style="display: inline;"><i class="ez-toc-glyphicon ez-toc-icon-toggle"></i></a></span></div>
<nav><ul class="ez-toc-list ez-toc-list-level-1" style="display: none;"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#20_herramientas_SEO_gratuitas_que_no_te_puedes_perder" title="20 herramientas SEO gratuitas que no te puedes perder">20 herramientas SEO gratuitas que no te puedes perder</a><ul class="ez-toc-list-level-4"><li class="ez-toc-heading-level-4"><ul class="ez-toc-list-level-4"><li class="ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-2" href="#1_GOOGLE_ANALYTICS" title="1# GOOGLE ANALYTICS">1# GOOGLE ANALYTICS</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-3" href="#2_GOOGLE_SEARCH_CONSOLE" title="2# GOOGLE SEARCH CONSOLE">2# GOOGLE SEARCH CONSOLE</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-4" href="#3_GOOGLE_KEYWORD_PLANNER" title="3# GOOGLE KEYWORD PLANNER">3# GOOGLE KEYWORD PLANNER</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-5" href="#4_GOOGLE_TRENDS" title="4# GOOGLE TRENDS">4# GOOGLE TRENDS</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-6" href="#5_GOOGLE_PAGE_SPEED_INSIGHTS" title="5# GOOGLE PAGE SPEED INSIGHTS">5# GOOGLE PAGE SPEED INSIGHTS</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-7" href="#6_GOOGLE_MOBILE-FRIENDLY_TEST" title="6# GOOGLE MOBILE-FRIENDLY TEST">6# GOOGLE MOBILE-FRIENDLY TEST</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-8" href="#7_GOOGLE_MY_BUSINESS" title="7# GOOGLE MY BUSINESS">7# GOOGLE MY BUSINESS</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-9" href="#8_GOOGLE_BUSINESS_REVIEW_LINK_GENERATOR_DE_WHITESPARK" title="8# GOOGLE BUSINESS REVIEW LINK GENERATOR DE WHITESPARK">8# GOOGLE BUSINESS REVIEW LINK GENERATOR DE WHITESPARK</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-10" href="#9_SEMRUSH" title="9# SEMRUSH">9# SEMRUSH</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-11" href="#10_MICROSOFT_ISS_SEO_TOOLKIT" title="10# MICROSOFT ISS SEO TOOLKIT">10# MICROSOFT ISS SEO TOOLKIT</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-12" href="#11_KEYWORD_GENERATOR_DE_AHREFS" title="11# KEYWORD GENERATOR DE AHREFS">11# KEYWORD GENERATOR DE AHREFS</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-13" href="#12_UBERSUGGEST" title="12# UBERSUGGEST">12# UBERSUGGEST</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-14" href="#13_ANSWER_THE_PUBLIC" title="13# ANSWER THE PUBLIC">13# ANSWER THE PUBLIC</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-15" href="#14_SCREAMING_FROG" title="14# SCREAMING FROG">14# SCREAMING FROG</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-16" href="#15_SERPROBOT" title="15# SERPROBOT">15# SERPROBOT</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-17" href="#16_OUTDATED_CONTENT_FINDER" title="16# OUTDATED CONTENT FINDER">16# OUTDATED CONTENT FINDER</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-18" href="#17_COPYSCAPE" title="17# COPYSCAPE">17# COPYSCAPE</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-19" href="#18_LINK-ASSISTANT" title="18# LINK-ASSISTANT">18# LINK-ASSISTANT</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-20" href="#19_OPEN_LINK_PROFILER" title="19# OPEN LINK PROFILER">19# OPEN LINK PROFILER</a></li><li class="ez-toc-page-1 ez-toc-heading-level-4"><a class="ez-toc-link ez-toc-heading-21" href="#20_IFTTT" title="20# IFTTT">20# IFTTT</a></li></ul></li></ul></li></ul></nav></div>
<h2 id="20-herramientas-seo-gratuitas-que-no-te-puedes-perder"><span class="ez-toc-section" id="20_herramientas_SEO_gratuitas_que_no_te_puedes_perder"></span>20 herramientas SEO gratuitas que no te puedes perder<span class="ez-toc-section-end"></span></h2>



<h4 id="1-google-analytics"><span class="ez-toc-section" id="1_GOOGLE_ANALYTICS"></span>1# <a href="https://analytics.google.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE ANALYTICS</a><span class="ez-toc-section-end"></span></h4>



<p>Es la herramienta indispensable que todo marketero y SEO debe conocer. Con ella podrás realizar análisis y ver el rendimiento de tu web, obtener información sobre las conversiones de las visitas así como informes de análisis técnicos (publicidad, <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/medios-sociales-mas-utilizadas-redes-sociales/" target="_blank">redes sociales</a>, contenido, etc…).</p>



<div class="wp-block-image"><figure class="aligncenter size-large"><img width="1024" height="577" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg" alt="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer - GA 1024x577" class="wp-image-71049 entered lazyloaded" data-lazy-srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-300x169.jpg 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-768x433.jpg 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA.jpg 1026w" data-lazy-sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer" data-lazy-src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg" data-ll-status="loaded" sizes="(max-width: 1024px) 100vw, 1024px" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-300x169.jpg 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-768x433.jpg 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA.jpg 1026w"><noscript><img width="1024" height="577" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg" alt="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer - GA 1024x577" class="wp-image-71049" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-1024x577.jpg 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-300x169.jpg 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA-768x433.jpg 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GA.jpg 1026w" sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer"></noscript></figure></div>



<h4 id="2-google-search-console"><span class="ez-toc-section" id="2_GOOGLE_SEARCH_CONSOLE"></span>2# <a href="https://search.google.com/search-console/welcome" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE SEARCH CONSOLE</a><span class="ez-toc-section-end"></span></h4>



<p>Una de las mejores extensiones que Google te puede ofrecer. Permite eliminar <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/desindexar-eliminar-urls-masiva-search-console-seo-sem/" target="_blank">URLs</a> y backlinks negativos de tu web, entre otros. Además, ofrece informes detallados sobre los análisis de búsqueda, los errores de rastreo y las búsquedas de tu web.</p>



<div class="wp-block-image"><figure class="aligncenter size-large"><img width="1024" height="730" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png" alt="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer - sc01 80ca5d19 3e16 48e1 9ec3 a93bc7f3f0fa" class="wp-image-71050 entered lazyloaded" data-lazy-srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-300x214.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-768x548.png 768w" data-lazy-sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer" data-lazy-src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png" data-ll-status="loaded" sizes="(max-width: 1024px) 100vw, 1024px" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-300x214.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-768x548.png 768w"><noscript><img width="1024" height="730" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png" alt="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer - sc01 80ca5d19 3e16 48e1 9ec3 a93bc7f3f0fa" class="wp-image-71050" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-300x214.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/sc01-80ca5d19-3e16-48e1-9ec3-a93bc7f3f0fa-768x548.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer"></noscript></figure></div>



<h4 id="3-google-keyword-planner"><span class="ez-toc-section" id="3_GOOGLE_KEYWORD_PLANNER"></span>3# <a href="https://ads.google.com/intl/es_es/home/tools/keyword-planner/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE KEYWORD PLANNER</a><span class="ez-toc-section-end"></span></h4>



<p>Es una de las herramientas SEO gratuitas más prácticas para encontrar palabras clave. Las <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/como-hacer-estudio-palabras-clave-keyword-research-seo-sem/" target="_blank">keywords</a> son un elemento esencial de SEO. Nos ayudan a posicionar mejor nuestra página web haciendo que los algoritmos de los motores de búsqueda vean el contenido de una página como relevante y de interés para los usuarios. Con esta herramienta no solo encontrarás sugerencias de palabras clave sino información sobre la frecuencia con la que se buscan y los cambios a lo largo del tiempo.</p>



<div class="wp-block-image"><figure class="aligncenter size-large"><img width="1024" height="569" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png" alt="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer - GKP 1024x569" class="wp-image-71081 entered lazyloaded" data-lazy-srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-300x167.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-768x427.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1536x853.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-2048x1138.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP.png 1200w" data-lazy-sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer" data-lazy-src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png" data-ll-status="loaded" sizes="(max-width: 1024px) 100vw, 1024px" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-300x167.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-768x427.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1536x853.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-2048x1138.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP.png 1200w"><noscript><img width="1024" height="569" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png" alt="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer - GKP 1024x569" class="wp-image-71081" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1024x569.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-300x167.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-768x427.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-1536x853.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP-2048x1138.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/GKP.png 1200w" sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer"></noscript></figure></div>



<h4 id="4-google-trends"><span class="ez-toc-section" id="4_GOOGLE_TRENDS"></span>4# <a href="https://www.google.es/trends/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE TRENDS</a><span class="ez-toc-section-end"></span></h4>



<p>Con Google Trends podremos detectar qué <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/tendencias-seo-2020-que-debe-tener-en-cuenta-un-seo-manager-seo-sem/" target="_blank">tendencias</a> de búsqueda se están dando a nivel nacional e internacional. Esta herramienta permite observar cuáles son las búsquedas más activas en función de la zona geográfica, las listas de tendencias o los vídeos más vistos en YouTube.</p>



<div class="wp-block-image"><figure class="aligncenter size-large"><img width="1024" height="615" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png" alt="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer - Google Trends 1024x615" class="wp-image-71083 entered lazyloaded" data-lazy-srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-300x180.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-768x461.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1536x922.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-2048x1230.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends.png 1200w" data-lazy-sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer" data-lazy-src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png" data-ll-status="loaded" sizes="(max-width: 1024px) 100vw, 1024px" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-300x180.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-768x461.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1536x922.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-2048x1230.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends.png 1200w"><noscript><img width="1024" height="615" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png" alt="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer - Google Trends 1024x615" class="wp-image-71083" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1024x615.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-300x180.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-768x461.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-1536x922.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends-2048x1230.png 2048w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Google-Trends.png 1200w" sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer"></noscript></figure></div>



<h4 id="5-google-page-speed-insights"><span class="ez-toc-section" id="5_GOOGLE_PAGE_SPEED_INSIGHTS"></span>5# <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE PAGE SPEED INSIGHTS</a><span class="ez-toc-section-end"></span></h4>



<p>Uno de los aspectos esenciales para mejorar la experiencia del usuario es aumentar la velocidad de carga, que también servirá para mejorar tu posicionamiento web o SEO. Con esta herramienta podrás analizar y optimizar el page speed de tu página web o <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/por-que-crear-blog-comunicacion-digital/" target="_blank">blog</a>.</p>



<div class="wp-block-image"><figure class="aligncenter size-large"><img width="1024" height="873" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png" alt="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer - Page Speed 1024x873" class="wp-image-71084 entered lazyloaded" data-lazy-srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-300x256.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-768x655.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1536x1309.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed.png 1200w" data-lazy-sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que sí o sí debes conocer" data-lazy-src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png" data-ll-status="loaded" sizes="(max-width: 1024px) 100vw, 1024px" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-300x256.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-768x655.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1536x1309.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed.png 1200w"><noscript><img width="1024" height="873" src="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png" alt="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer - Page Speed 1024x873" class="wp-image-71084" srcset="https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1024x873.png 1024w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-300x256.png 300w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-768x655.png 768w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed-1536x1309.png 1536w, https://www.iebschool.com/blog/wp-content/uploads/2021/07/Page-Speed.png 1200w" sizes="(max-width: 1024px) 100vw, 1024px" title="Las 20 mejores herramientas SEO gratuitas que s&iacute; o s&iacute; debes conocer"></noscript></figure></div>



<h4 id="6-google-mobile-friendly-test"><span class="ez-toc-section" id="6_GOOGLE_MOBILE-FRIENDLY_TEST"></span>6# <a href="https://search.google.com/test/mobile-friendly" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE MOBILE-FRIENDLY TEST</a><span class="ez-toc-section-end"></span></h4>



<p>Los usuarios cada vez acceden a internet desde el móvil con más frequencia. Por lo tanto, tus clientes también estarán navegando por tu página web desde este dispositivo. Esta herramienta de Google te permite optimizar tu sitio web para que la experiencia de tus usuarios sea igual de buena desde cualquier dispositivo.</p>



<h4 id="7-google-my-business"><span class="ez-toc-section" id="7_GOOGLE_MY_BUSINESS"></span>7# <a href="https://www.google.com/intl/es_es/business/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE MY BUSINESS</a><span class="ez-toc-section-end"></span></h4>



<p>Una de las herramientas SEO gratuitas más útiles. En tu perfil podrás añadir toda la información sobre tu empresa que pueda resultar atractiva para potenciales clientes. Además,a través de Google My Business, estrechas la distancia entre tú y los usuarios, creando la clase de diálogo que llama la atención de los algoritmos de los buscadores.</p>



<h4 id="8-google-business-review-link-generator-de-whitespark"><span class="ez-toc-section" id="8_GOOGLE_BUSINESS_REVIEW_LINK_GENERATOR_DE_WHITESPARK"></span>8# <a href="https://whitespark.ca/google-review-link-generator/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">GOOGLE BUSINESS REVIEW LINK GENERATOR DE WHITESPARK</a><span class="ez-toc-section-end"></span></h4>



<p>Es importante que tus clientes te puedan encontrar fácilmente en la red. También es importante que cuando tengan algo que decir sobre su experiencia con tu empresa (especialmente si es algo positivo), tengan un sitio donde hacerlo. Con esta herramienta puedes crear links personalizados para enviar a tus clientes y que escriban sus opiniones directamente en tu perfil de Google.&nbsp;</p>



<h4 id="9-semrush"><span class="ez-toc-section" id="9_SEMRUSH"></span>9# <a href="https://es.semrush.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">SEMRUSH</a><span class="ez-toc-section-end"></span></h4>



<p>Una herramienta SEO muy completa modelo freemium. Algunas de las funciones gratuitas incluyen la búsqueda de palabras clave o análisis de tus competidores. Si en algún momento decides invertir más en SEO, también dispone de una opción de pago que permite hacer maravillas. Hasta entonces, también puedes disfrutar de las ventajas de SEOquake, una extensión de Chrome afiliada con multitud de prestaciones.</p>



<div class="bloque_recurso bg_ebook"><div id="ipad"></div><div class="d-flex align-items-center"><div class="content_recurso w-100"><span> e-Book</span><p>SEO para principiantes</p></div><a href="https://www.iebschool.com/es-mx/recursos/seo-principiantes/?utm_source=blog&amp;utm_medium=banner&amp;utm_campaign=post&amp;utm_content=R001" class="link_cta" target="_blank">Descargar <i class="fa fa-arrow-down" aria-hidden="true"></i></a></div></div>



<h4 id="10-microsoft-iss-seo-toolkit"><span class="ez-toc-section" id="10_MICROSOFT_ISS_SEO_TOOLKIT"></span>10# <a href="https://www.iis.net/downloads/microsoft/search-engine-optimization-toolkit" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">MICROSOFT ISS SEO TOOLKIT</a><span class="ez-toc-section-end"></span></h4>



<p>Esta <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/mejores-extensiones-seo-sem/" target="_blank">extensión</a> te permite llevar a cabo análisis detallados de tu página, gestionar archivos robots.txt y administrar índices y archivos de mapas del sitio para controlar cómo interactuan con el contenido de tu página los buscadores.</p><div class="contenido-en-medio"><div class="bloque_cta bg_"><div class="content_cta"><h4 class="cta_recurso"> Master en SEO y SEM</h4><p>Conviértete en un experto de la captación del tráfico</p><a href="https://www.iebschool.com/programas/master-sem-ppc-marketing-buscadores/?utm_source=blog&amp;utm_medium=enl&amp;utm_campaign=post&amp;utm_content=MSEM" class="link_cta" target="_blank">Aprende a diseñar y ejecutar una estrategia SEO</a></div></div></div>



<h4 id="11-keyword-generator-de-ahrefs"><span class="ez-toc-section" id="11_KEYWORD_GENERATOR_DE_AHREFS"></span>11# <a href="https://ahrefs.com/keyword-generator" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">KEYWORD GENERATOR DE AHREFS</a><span class="ez-toc-section-end"></span></h4>



<p>El generador de keywords de Ahrefs trae las primeras 100 ideas de keywords para cualquier keyword semilla o frase desde nuestra base de datos. Muestra el volumen de búsqueda estimado para cada sugerencia.</p>



<h4 id="12-ubersuggest"><span class="ez-toc-section" id="12_UBERSUGGEST"></span>12# <a href="https://app.neilpatel.com/es/ubersuggest/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">UBERSUGGEST</a><span class="ez-toc-section-end"></span></h4>



<p>Una herramienta fantástica para encontrar palabras clave ya que te proporciona el número de búsquedas por palabra y por región geográfica y te muestra las páginas con el mejor posicionamiento que contienen esas keywords.</p>



<h4 id="13-answer-the-public"><span class="ez-toc-section" id="13_ANSWER_THE_PUBLIC"></span>13# <a href="https://answerthepublic.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">ANSWER THE PUBLIC</a><span class="ez-toc-section-end"></span></h4>



<p>Si quieres saber qué busca la gente (y ¿cómo no vas a querer, si es la mejor manera de crear contenido relevante?) esta es la herramienta perfecta. Answer the Public te muestra las búsquedas relacionadas con las palabras clave que insertes. Así sabrás cuales son exactamente las necesidades de tú público, y las podrás suplir.</p>



<h4 id="14-screaming-frog"><span class="ez-toc-section" id="14_SCREAMING_FROG"></span>14# <a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">SCREAMING FROG</a><span class="ez-toc-section-end"></span></h4>



<p>Esta es una de las herramientas más utilizadas para realizar auditorías SEO. En la versión gratuita se pueden analizar hasta 500 URLs. Gracias a Screaming Frog, podrás eliminar todos los errores SEO de tu página web de manera sencilla. Y si quieres ir más allá siempre puedes apostar por la versión de pago, que te permite analizar URLs ilimitadas.</p>



<h4 id="15-serprobot"><span class="ez-toc-section" id="15_SERPROBOT"></span>15# <a href="https://www.serprobot.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">SERPROBOT</a><span class="ez-toc-section-end"></span></h4>



<p>Saber dónde se posiciona tu página web en los motores de búsqueda es esencial para controlar tu estrategia de SEO. Eso es precisamente lo que te ofrece esta herramienta. Así puedes determinar exactamente qué es lo que funciona y qué es lo que necesita mejorar.</p>



<h4 id="16-outdated-content-finder"><span class="ez-toc-section" id="16_OUTDATED_CONTENT_FINDER"></span>16# <a href="http://www.visiospark.com/outdated-content-finder/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">OUTDATED CONTENT FINDER</a><span class="ez-toc-section-end"></span></h4>



<p>Tal y como dice el nombre, Outdated Content Finder te ayuda a encontrar contenido desfasado en tu sitio web. Así de sencillo, y así de esencial. Para mantener tu contenido en óptimas condiciones, necesitas saber qué es lo que necesita ser actualizado.</p>



<h4 id="17-copyscape"><span class="ez-toc-section" id="17_COPYSCAPE"></span>17# <a href="https://www.copyscape.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">COPYSCAPE</a><span class="ez-toc-section-end"></span></h4>



<p>Esta es una de las herramientas SEO gratuita y de las más antiguas, pero también efectivas que existe actualmente. Totalmente recomendable tanto para controlar posibles casos de plagio como para saber quién comparte tus contenidos y si los enlazan a tu sitio (y en el caso de que no lo hagan, poder pedir que lo hagan).</p>



<h4 id="18-link-assistant"><span class="ez-toc-section" id="18_LINK-ASSISTANT"></span>18# <a href="https://www.link-assistant.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">LINK-ASSISTANT</a><span class="ez-toc-section-end"></span></h4>



<p>Parte de SEO Power Suite (pero gratis), esta herramienta permite analizar el ranking de tus palabras clave, así como analizar la competencia y analizar SEO on-site de tu web. Casi de todo, vaya, menos guardar tus campañas. Pero aún así, es una de las herramientas SEO gratuitas más completas.</p>



<h4 id="19-open-link-profiler"><span class="ez-toc-section" id="19_OPEN_LINK_PROFILER"></span>19# <a href="https://openlinkprofiler.org/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">OPEN LINK PROFILER</a><span class="ez-toc-section-end"></span></h4>



<p>Una herramienta SEO gratuita para comprobar los backlinks de tu página web. Introduce un dominio en la barra de búsqueda y deja que haga el resto.</p>



<h4 id="20-ifttt"><span class="ez-toc-section" id="20_IFTTT"></span>20# <a href="https://ifttt.com/" target="_blank" rel="noreferrer noopener nofollow" aria-label=" (se abre en una nueva pestaña)">IFTTT</a><span class="ez-toc-section-end"></span></h4>



<p>Quizás no es una de las herramientas <a href="https://www.iebschool.com/blog/que-es-seo-social-y-como-puede-ayudar-a-mi-estrategia-de-seo-sem/" data-type="post" data-id="17023">SEO</a> gratuitas más obvias, pero no por eso es menos útil. La manera perfecta de automatizar y sincronizar casi todos los elementos de tu vida, desde lo cotidiano a tus herramientas de <a rel="noreferrer noopener" aria-label=" (se abre en una nueva pestaña)" href="https://www.iebschool.com/blog/que-es-marketing-digital-marketing-digital/" target="_blank">marketing</a>. Entre otras cosas facilita el flujo de contenido a través de tus distintas <a href="https://www.iebschool.com/blog/medios-sociales-mas-utilizadas-redes-sociales/" data-internallinksmanager029f6b8e52c="22" title="Las Redes Sociales más utilizadas: cifras y estadísticas" target="_blank" rel="noopener">redes sociales</a>. Cuando todo va al unísono, es más fácil producir contenido fiel a tu marca y relevante para tu audiencia.&nbsp;</p>



<p>¿Has utilizado alguna de estas herramientas SEO gratuitas? ¿Recomendarías alguna otra? ¡Nos encantará saber tu opinión! Si tienes algo que compartir, no dudes en dejar un comentario.</p>



<p><strong>¿Estás preparado para poner en práctica todo este conocimiento de SEO? </strong>Si quieres&nbsp;introducir el SEO&nbsp;en tu <a href="https://www.iebschool.com/blog/plan-de-marketing-digital/" data-internallinksmanager029f6b8e52c="111" title="Qué es un plan de Marketing Digital y cómo se hace" target="_blank" rel="noopener">plan de Marketing Digital</a>, IEBS te ofrece el <strong><a href="https://www.iebschool.com/programas/master-sem-ppc-marketing-buscadores/?utm_source=blog&amp;utm_medium=enl&amp;utm_campaign=post&amp;utm_content=MSEM" target="_blank" rel="noreferrer noopener">Master SEO</a></strong> con el que aprenderás a aumentar tu visibilidad y controlar el posicionamiento orgánico en los buscadores de la mano de los mejores profesionales del sector.</p>
<div class="bloque_cta bg_"><div class="content_cta"><h4 class="cta_recurso"> Master en SEO y SEM</h4><p>Conviértete en un experto de la captación del tráfico</p><a href="https://www.iebschool.com/programas/master-sem-ppc-marketing-buscadores/?utm_source=blog&amp;utm_medium=enl&amp;utm_campaign=post&amp;utm_content=MSEM" class="link_cta" target="_blank">Aprende a diseñar y ejecutar una estrategia SEO</a></div></div>
			</div>
			
			
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">Colaboración</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box ct-purple">
							<% include ../authors/sucender-short.ejs %>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box ct-purple">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box ct-purple">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>
