<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="es" xml:lang="es" class="js js canvas fontface generatedcontent wf-proximanova-n7-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-i4-active wf-brandongrotesque-n7-active wf-active"><!--<![endif]-->
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Chrome, Firefox OS, Opera and Vivaldi -->
		<meta name="theme-color" content="#537b7b">
		<!-- iOs Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#537b7b">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#537b7b">

		<title>El mundo del programador Web | Ayuda para mi Web</title>
		<meta name="description" content="El mundo de la programación web ha evolucionado mucho desde mis primeros años como desarrollador, en este artículo expongo mis herramientas para desarrollar." />
		<meta name="author" content="Sucender" />

		<% include ../partials/head.ejs %>	
	</head>
	
	<body id="codrops-body">
		<!-- BuySellAds.com Ad Code -->
		<script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
		</script>
		<!-- END BuySellAds.com Ad Code -->	
				
		<div class="ct-container">
			
			<% include ../partials/header.ejs %>
			
		<div class="ct-content">

			<div class="ct-inner">
			
				<div class="ct-main ct-main-post" id="ct-main" role="main">
					<div class="ct-post">
						
						<article id="post-7" itemscope="" itemtype="http://schema.org/Article" class="post-7 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-canvas tag-slideshow">
							<header>
								<div class="ct-subline entry-meta">
								
									<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
											<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
											<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
											<meta itemprop="width" content="36">
											<meta itemprop="height" content="36">
										</div>
										<meta itemprop="name" content="Sucender">
									</div>
								
									<div class="ct-subline__author">
										<span class="byline author vcard" span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author" itemprop="name">Sucender</a></span>                                  
										in 
										<a href="http://www.ayudaparamiweb.com/">Tutorials</a>
									</div>
									
									<div class="ct-subline__time">
										<time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="2018-08-22">22/08/2018</time> 
										<strong>4</strong> votos. Media: <strong>4.5</strong> de 5
										<div style="display: none;" class="post-ratings" name="post-ratings-1606" data-nonce="f164d6d75a">
											<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
												<meta itemprop="bestRating" content="5">
												<meta itemprop="worstRating" content="1">
												<meta itemprop="ratingValue" content="4.5">
												<meta itemprop="ratingCount" content="4">
											</div>
										</div>
									</div>
									
								</div>
								
								<h1 class="ct-h-shd entry-title" itemprop="headline">El mundo del programador Web</h1>								
							</header>
							<div class="ct-post-content">
								<div class="ct-post-excerpt" itemprop="description">Hace unos años, cuando una página web tan sólo contenia codigo HTML, una sola persona conocida como webmaster podía encargarse de todo. Pero todo ha cambiado, las webs y la forma de gestionarlas ha evolucionado mucho, ahora no se trata tan solo de hacer páginas webs estáticas sino en aplicaciones web que se adaptan a todo tipo de dispositivos y que interactuan con el usuario a distintos niveles.</div>
								<div class="ct-post-featured-img">
									<div id="container" class="container intro-effect-fadeout" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
									<a href="http://www.ayudaparamiweb.com/" title="El mundo del programador Web">
										<img width="800" height="500" src="../img/articulo/el-mundo-del-programador-web.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="PiecesSlider" srcset="../img/articulo/el-mundo-del-programador-web.png 800w, ../img/articulo/el-mundo-del-programador-web.png 300w, ../img/articulo/el-mundo-del-programador-web.png 768w" sizes="(max-width: 800px) 100vw, 800px">
										<meta itemprop="url" content="http://www.ayudaparamiweb.com/img/articulo/el-mundo-del-programador-web.png">
										<meta itemprop="width" content="800">
										<meta itemprop="height" content="500">
									</a>								
								</div>

								<p>Ahora bien, un proyecto web esta dividido principalmente en dos capas, el Front-End (que es lo que el usuario ve) y el Back-End (la tecnología que hay en una capa detrás) complementadas con un buen diseño capaz de ofrecer una buena usabilidad y una eficiente arquitectura de la información, es decir la base de datos.</p>
								
								<h2 id="backend">Back End</h2>
								<p>Es la capa que se encarga de procesar la información que llega del usuario, ya sea para almacenarla en base de datos o devolverla al usuario. Detrás de esto se encuentra el software de la aplicación, el servidor que la maneja y la base de datos que la almacena. Los <strong>lenguajes de programación</strong> que existen en esta parte son:</p>
								
								<ul>
									<li><a href="http://php.net/">PHP</a></li>
									<li><a href="http://www.java.com/es/">Java</a></li>
									<li><a href="https://www.ruby-lang.org/es/">Ruby</a></li>
									<li><a href="http://python.org">Python</a></li>
									<li><a href="http://nodejs.org">Node.js</a></li>
								</ul>
								<p>Los 3 últimos son los más utilizados hoy en día en las principales <em>Startups</em> y aplicaciones web, pero no funcionan solos, tienen con ellos poderosos <strong>frameworks</strong> y extensiones que los hacen más manejables y productivos.</p>
								<ul>
									<li><a href="http://rubyonrails.org/">Rails</a> (Ruby)</li>
									<li><a href="https://www.djangoproject.com/">Django</a> (Python)</li>
									<li><a href="http://expressjs.com/">Express </a>y <a href="http://socket.io">Socket.io</a> (Node.js)</li>
								</ul>
								<p>La información o datos que manejan las aplicaciones normalmente es almacenada en una <strong>base de datos.</strong> Existen dos tipos: Relacionales en las que unas tablas están relacionadas con otras a través de una clave. Y no relacionales (NoSQL) que guardan los datos en documentos y para ciertas aplicaciones son más rápidas</p>
								<ul>
									<li><strong>Relacionales</strong>
										<ul>
											<li><a href="http://www.mysql.com/">MySQL</a></li>
											<li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
											<li><a href="https://mariadb.org/">MariaDB</a></li>
											<li><a href="http://www.sqlite.org/">SQLite</a></li>
										</ul>
									</li>
									<li><strong>No Relacionales</strong>
										<ul>
											<li><a href="http://www.mongodb.org/">MongoDB</a></li>
											<li><a href="https://cassandra.apache.org/">Cassandra</a></li>
											<li><a href="http://couchdb.apache.org/">CouchDB</a></li>
										</ul>
									</li>
								</ul>
								
								<h2 id="frontend"><strong>Front End</strong></h2>
								<p>El Front-End es le aparece al usuario en pantalla, la parte visual de una aplicación o proyecto web. Antiguamente se limitaba a la maquetación de un sitio con HTML, se le añadia estilo con CSS y alguna animación o efecto con JavaScript. Pero eso paso a la historia, ahora tenemos aplicaciones web que funcionan enteramente en el navegador y únicamente reciben datos desde un API en formato JSON a través de AJAX o WebSockets.</p>
								<p>Las tecnologías que operan en esta parte son:</p>
								<ul>
									<li><strong>HTML5</strong>, aporta semántica al contenido y estructura la información</li>
									<li><strong>CSS3</strong>, maqueta la información y diseña</li>
									<li><strong>JavaScript</strong>, permite la programación en el cliente y su conexión con el servidor, maneja el DOM, añade interacción, etc</li>
								</ul>
								<p>Por supuesto exiten herramientas para el Front-End:</p>
								<ul>
									<li><strong>Frameworks CSS</strong>
										<ul>
											<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
											<li><a href="http://foundation.zurb.com/">Zurb Foundation</a></li>
										</ul>
									</li>
									<li><strong>Preprocesadores de CSS</strong> (Compilan código a CSS)
										<ul>
											<li><a href="http://learnboost.github.io/stylus/">Stylus</a></li>
											<li><a href="http://lesscss.org/">Less</a></li>
											<li><a href="http://sass-lang.com/">Sass</a></li>
										</ul>
									</li>
									<li><strong>Preprocesadores de JS</strong> (convierten código a JS)
										<ul>
											<li><a href="https://www.dartlang.org/">Dart</a></li>
											<li><a href="http://coffeescript.org/">CoffeeScript</a></li>
										</ul>
									</li>
									<li><strong>Frameworks y Librerias JS</strong>
										<ul>
											<li><a href="http://jquery.org">jQuery</a></li>
											<li><a href="http://backbonejs.org">Backbone.js</a></li>
											<li><a href="http://angularjs.org">Angular.js</a></li>
											<li><a href="http://emberjs.org">Ember.js</a></li>
										</ul>
									</li>
									<li><strong>Sistemas de templates</strong>
										<ul>
											<li><a href="http://mustache.github.io/">Mustache</a></li>
											<li><a href="http://paularmstrong.github.io/swig/">Swig</a></li>
											<li><a href="http://embeddedjs.com/">EJS</a></li>
											<li><a href="http://underscorejs.org/">Underscore</a></li>
										</ul>
									</li>
								</ul>
								
								<h2 id="diseoexperienciadeusuarioyusabilidaduiux">Diseño, Experiencia de Usuario y Usabilidad (UI/UX)</h2>
								<p>Con el avance del Front-End, ahora el diseño y la interacción con los usuarios ocupan una nueva especialidad. En esta parte se tocan cosas como:</p>
								<ul>
									<li>Diseño de interfaces
										<ul>
											<li><a href="http://designshack.net/articles/css/mobilefirst/">Mobile First</a></li>
											<li><a href="http://en.wikipedia.org/wiki/Responsive_web_design">Responsive Design</a></li>
											<li><a href="http://bjango.com/articles/designingforretina/">Retina Design</a></li>
										</ul>
									</li>
									<li>Diseño de Workflows</li>
									<li>Usabilidad</li>
									<li>UX, Experiencia de usuario</li>
								</ul>
								
								<h2 id="arquitecturadeinformacion">Arquitectura de Información</h2>
								<p>El contenido en la web actual no es estático, está generado en su mayor parte por los usuarios y ellos interaccionan entre ellos. Hay que saber estructurarlo, como redactarlo, como presentarlo. En esta parte entra el <strong>SEO</strong> (Search Engine Optimization), la <strong>estrategia digital</strong> de la marca/proyecto (Inbound Marketing, Outbund Marketing) y el Social Media.</p>
								<p>Y eso es en resumen las partes más importantes y roles que conlleva un proyecto web hoy en día. Lo recomendable es especializarse en lo que más te guste pero saber un poco de todo para tener una visión general del proyecto.</p>
								
								<h2 id="herramientasparaprogramar">Herramientas para programar</h2>
								<p>Os voy a exponer algunas de las herramientas que utilizo como desarrollador web y que me facilitan bastante la productividad.</p>
								
								
									<ul>
										<li>
											<p><strong>Editor de texto</strong>: <a href="http://www.sublimetext.com/">Sublime Text 2</a>, Multiplataforma. Escrito en Python. Muy rápido, y ligero. Contiene numerosos paquetes y funcionalidades que lo hacen ser EL EDITOR. Bien es cierto que si programas en Objective-C te es más útil XCode, y si lo haces para Android te sea mejor (aunque sea un dolor) utilizar Eclipse. Pero si te dedicas al desarrollo web, es lo mejor.</p>
										</li>
										<li>
											<p><strong>Cliente FTP</strong>: <a href="http://cyberduck.ch/">Cyberduck</a>, para Mac. Tiene una UI agradable y permite conexiones SFTP con archivos de clave secreta. Ideal si quieres acceder a un servidor creador en AWS.</p>
										</li>
										<li>
											<p><strong>Navegador Web</strong>: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>. Es mi navegador por defecto. Hace tiempo usaba Firefox por su consola firebug para depurar, pero ahora con chrome se puede hacer lo mismo gracias a sus extensiones de las que hablará más adelante en otra entrada</p>
										</li>
										<li>
											<p><strong>Servidor Web local</strong>: <a href="http://www.apachefriends.org/en/xampp.html">XAMPP</a>. Multiplaforma, ideal para montar un servidor Apache + PHP + MySQL local en pocos minutos. Incluye phpmyAdmin para gestionar la base de datos. Si tu proyecto utiliza alguna de estas tecnologías te lo recomiendo.</p>
										</li>
										<li>
											<p><strong>Comunicación</strong>: Utilizo varios:</p>
											<ul>
												<li><a href="http://skype.com">Skype</a> para conversaciones con una sola persona, normalmente para trabajos freelance con clientes extranjeros, son la mejor herramienta.</li>
												<li><a href="http://google.com/hangouts">Hangouts</a> si son con varias personas y puedes compartir escritorio,</li>
											</ul>
										</li>
										<li>
										<p><strong>Gestor de tareas</strong>: <a href="https://trello.com/">Trello</a>. Básico y muy simple pero muy útil. Multidispositivo</p>
										</li>
										<li>
											<p><strong>Repositorios y control de versiones</strong></p>
											<ul>
												<li><a href="http://github.com">GitHub</a>, para proyectos open source o colaborativos. Como cliente Desktop: <a href="http://mac.github.com/">GitHub for Mac</a></li>
												<li><a href="http://bitbucket.com">Bitbucket</a>, para proyectos privados (5 repositorios gratuitos). Como cliente Desktop: <a href="http://www.sourcetreeapp.com/">Sourcetree</a></li>
											</ul>
										</li>
										<li>
											<p><strong>Tratamiento de imágenes</strong>:<br>
											<a href="http://www.photoshop.com/"> Photoshop CS6</a></p>
										</li>
										<li>
											<p><strong>Manejo de archivos</strong></p>
											<ul>
												<li><a href="https://www.dropbox.com/">Dropbox</a>, genial para compartir documentos e imágenes entre miembros del equipo</li>
												<li><a href="http://drive.google.com">Google Drive</a>, perfecto para guardar ideas, escribir documentación y modificar en linea con otros miembros del equipo. Te olvidas de tener documentos en tu ordenador con mútltiples versiones. A si los tienes siempre a mano y en cualquier dispositvo y cuando quieras (siempre que tengas conexión a mano).</li>
											</ul>
										</li>
										<li>
											<p><strong>Diseño de Mockups y Wireframes</strong>:<br>
											<a href="https://moqups.com/">Moqups</a>: Excelente herramienta para realizar Mockups de una manera sencilla y rápida, se integra con Google Drive.</p>
										</li>
										<li>
										<p><strong>Virtualización</strong>: <a href="http://www.parallels.com/">Parallels 8</a>, De pago. Funciona realmente bien en Mac. Suelo tener alguna distribución Linux (Ubuntu) y copia de Windows XP para probar rarezas.</p>
										</li>
									</ul>
								
								<h2 id="paraqueprogramar">¿Para qué programar?</h2>
								<p>Cuando no estoy trabajando en la oficina o haciendo encargos freelance me gusta <em>trastear</em> con otras tecnologías y lenguajes que no suelo utilizar. Voy a exponer algunos mótivos por los que desarrollar proyectos propios puede acabar siendo rentable en muchos aspectos:</p>
								<h3 id="esdivertido">Es divertido</h3>
								<p>No hay nada cómo poder trabajar para uno mismo. Tu planificas tus horarios, nadie te supervisa, creas algo a tu gusto, tu decides que detalles son importantes y cuales no. Es una buena manera de probarse a uno mismo y conocer nuevas áreas.</p>
								<h3 id="aprendes">Aprendes</h3>
								<p>¿Cuál es la mejor forma de aprender una tecnología nueva como pueden ser Node? ¿O usar una base de datos que no has usado nunca? En un proyecto de consultoría tradicional de traje y corbata ya te adelanto que no será. Prueba a hacer un “hola mundo” en un lenguaje que no conozcas, después amplíalo, descubre que puedes hacer con esa nueva plataforma, lee documentación, etc. En definitiva: juega.</p>
								<h3 id="ganasexperiencia">Ganas experiencia</h3>
								<p>Imagina que al poco de haber hecho un pequeño proyecto en un lenguaje que hace unos meses ni conozcas, aparece ante tí una oferta de trabajo (ya sea freelance o contratado) ¡Ya tienes el primer paso dado! Sin apenas darte cuenta has ganado experiencia. Puede que an no seas experto, pero con el tiempo irás mejorando.</p>
								<h3 id="amplasportafolio">Amplías portafolio</h3>
								<p>Hoy en día da igual que tengas 2 carreras, 3 máster y 40 certificados. Incluso me atrevería a decir que ni siquiera que hayas trabajado X años en una empresa pueda servir dentro de un tiempo. Ahora prima más lo quá has hecho o sabes hacer qué lo que has estudiado. Ahora la gente quiere algo visible para saber si eres la persona que necesitan.</p>
								<p>Si haces un diseño, súbelo a <a href="http://dribbble.com/carlosazaustre">Dribbble</a>, si haces código, súbelo a <a href="http://github.com/carlosazaustre">GitHub</a>. Estos portales son ahora tanto o más importantes que un buen perfil en <a href="http://linkedin.com/in/carlosazaustre">Linkedin</a>.</p>
								<p>Esa es una de las razones por las que mi colega <a href="http://twitter.com/jorgeas80">Jorge</a> y yo desarrollamos&nbsp;<a href="http://pelitweets.com" title="Pelitweets | Microcríticas en 140 caracteres de las péliculas de estreno. Decide que película vas a ver al cine según la opinión de la red">Pelitweets</a>. No tenemos modelo de negocio definido y no esperamos ganar dinero por ahora. Después de un tiempo trabajando para empresas o clientes privados, tienes trabajo hecho que no puedes enseñar por contrato u otras razones y de esta manera amplias tu portafolio.</p>
								<h3 id="consiguesclientes">Consigues clientes o trabajo</h3>
								<p>Cuando te inscribes a una oferta o te contacta alguien y te pide un portafolio, ahora ya tienes algo que poder enseñar, tuyo 100%. Es una manera de probar tanto tus conocimientos técnicos como tus habilidades. Has invertido tiempo en desarrollar tu proyecto, pero esa inversión puede verse amortizada con una buena oferta posterior.</p>
								<p>Por eso os animo a que invirtáis vuestro tiempo libre en aprender cosas nuevas y realizar pequeños proyectos propios, nunca se sabe quién puede estar al otro lado viendo tu trabajo.</p>
									
							</div>
						</article>
						
						<p class="ct-tags">Tagged with: <a href="http://www.ayudaparamiweb.com/" rel="tag">animation</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">canvas</a> <a href="http://www.ayudaparamiweb.com/" rel="tag">slideshow</a></p>
						<div class="clr"></div>
					</div>

					<div class="ct-row">
						<div class="ct-author-info ct-box">
							<div class="ct-author-avatar">
								<img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-80 photo" height="80" width="80">
							</div>
							<div class="ct-author-page-desc">
								<h4><a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></h4>
								<p>Sucender es un desarrollador informatico, apasionado del diseño web, HTML, CSS, JavaScript y Node.js. Available for <a href="mailto:sucender@gmail.com">hire</a>.</p>
								<p class="ct-author-page-url"><strong>View all contributions by <a href="http://www.ayudaparamiweb.com/" title="Posts by Sucender" rel="author">Sucender</a></strong></p>
																		
								<p class="ct-author-page-url">
									<strong>Website: </strong>
									<a href="http://www.ayudaparamiweb.com/" target="_blank">http://www.ayudaparamiweb.com/</a>
								</p>
																		
								<div>
									<ul class="ct-social-profiles">
										<li><a class="ct-social-twitter" href="https://twitter.com/ayudaparamiweb">https://twitter.com/ayudaparamiweb<span>Sucender on Twitter</span></a></li>
										<li><a class="ct-social-github" href="https://github.com/ayudaparamiweb">https://github.com/ayudaparamiweb<span>Sucender on Github</span></a></li>																																																																	
									</ul>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>

												
					<div class="ct-row-wrapper">
						<div class="ct-row">
							
							<div class="ct-sharing ct-box">
								<h4>Mantente conectado con nosotros:</h4>
								<div class="ct-link-list">
									<a href="http://feeds2.feedburner.com/" class="ct-link-list-rss">Grab the <strong>RSS Feed</strong></a>
									<a href="http://feedburner.google.com/" class="ct-link-list-mail">Get <strong>email updates</strong></a>
									<a href="http://www.twitter.com/" class="ct-link-list-twitter">Follow us on <strong>Twitter</strong></a>
									<a href="http://www.facebook.com/" class="ct-link-list-fb">Join us on <strong>Facebook</strong></a>
									<a href="https://plus.google.com/" class="ct-link-list-gplus">Add us on <strong>Google+</strong></a>
								</div>
							</div>
							<div class="ct-bottom-ads ct-box">
								<h4>CSS Reference</h4>
								<p>Learn about all important CSS properties from the basics with our extensive and easy-to-read CSS Reference.</p><p>It doesn't matter if you are a beginner or intermediate, start learning CSS now.</p>
							</div>
						</div>
					</div>
					
				</div>
		
				<aside class="ct-sidebar">		
					
					<% include ../partials/aside.ejs %>	
					
				</aside>
	
			<div class="clr"></div>
				
			</div><!--//ct-inner-->
			
		</div><!--//ct-content-->

		<footer class="ct-footer">
		
			<% include ../partials/footer.ejs %>	
			
		</footer>
		
		<script type="text/javascript" src="js/typeahead.min.js"></script>
		<script type="text/javascript" src="js/hogan.min.js"></script>
		<script type="text/javascript" src="js/wp-typeahead.js"></script>
		<script type="text/javascript" src="js/wp-embed.min.js"></script>
		</div><!--ct-container-->

	</body>
 </html>